@let translatePath = 'ControlUserMenu' + '.';

<div
  class="values"
  [class.active]="isUserBadgeMenuOpen"
  [class.animated-in]="isUserBadgeMenuAnimating"
  [class.animated-out]="!isUserBadgeMenuAnimating"
  (animationend)="onAnimationEnd($event)"
>
  @if (authService.isLoggedIn() && user) {
    @for (navigationLink of userNavigationLinks; track $index) {
      <a
        class="value"
        [routerLink]="getLinkPath(navigationLink, user)"
        (click)="onClose()"
      >
        <span
          class="icon-container"
          [innerHTML]="svgIconsService.returnIcon(navigationLink.icon, 'icon')"
          aria-hidden="true"
        ></span
        >{{ translatePath + navigationLink.label | translate }}
      </a>
    }
    <span class="divider"></span>
    <a
      class="value legal-mobile"
      [routerLink]="['/legal/legal-mobile']"
      (click)="onClose()"
    >
      <span
        class="icon-container"
        [innerHTML]="svgIconsService.returnIcon('legal', 'icon')"
        aria-hidden="true"
      ></span
      >{{ translatePath + 'legal' | translate }}
    </a>
    <button
      class="value"
      (click)="onClose(); logoutService.logout()"
    >
      <span
        class="icon-container"
        [innerHTML]="svgIconsService.returnIcon('logout', 'icon')"
        aria-hidden="true"
      ></span
      >{{ translatePath + 'logout' | translate }}
    </button>
  } @else {
    <a
      class="value"
      [routerLink]="['/login']"
      (click)="onClose()"
    >
      <span
        class="icon-container"
        [innerHTML]="svgIconsService.returnIcon('login', 'icon')"
        aria-hidden="true"
      ></span
      >{{ translatePath + 'login' | translate }}
    </a>
    <a
      class="value"
      [routerLink]="['/register']"
      (click)="onClose()"
    >
      <span
        class="icon-container"
        [innerHTML]="svgIconsService.returnIcon('register', 'icon')"
        aria-hidden="true"
      ></span
      >{{ translatePath + 'register' | translate }}
    </a>
    <a
      class="value legal-mobile"
      [routerLink]="['/legal/legal-mobile']"
      (click)="onClose()"
    >
      <span
        class="icon-container"
        [innerHTML]="svgIconsService.returnIcon('legal', 'icon')"
        aria-hidden="true"
      ></span
      >{{ translatePath + 'legal' | translate }}
    </a>
  }
</div>
