@use '../../../../../functions' as *;
@use '../../../../../var' as var;
@use '../../../../../mixins' as *;

@include dropdown-values($docked: false, $orientation: right);

@include value-list-item($item-spacing-vertical: px-to-rem(15), $item-spacing-horizontal: px-to-rem(15), $width: 100%, $justify-content: left);

.values {
  @include divider();

  .legal-mobile {
    display: none;

    @media (max-width: var.$breakpoint-md) {
      display: flex;
    }
  }

  .value {
    gap: px-to-rem(15);

    .icon-container {
      @include svg-icon($icon-class: icon, $height: 25px, $width: 25px, $fill-color: var(--font-primary-color-50));
    }
  }
}
