@use '../../../../../functions' as *;
@use '../../../../../var' as var;
@use '../../../../../mixins' as *;

.engagement {
  @include display-flex(center);
  gap: px-to-rem(20);

  .likes,
  .favorites,
  .shares {
    @include display-flex(end, center, row);
    gap: px-to-rem(5);

    &.favorites {
      .icon {
        margin-bottom: px-to-rem(2);
      }
    }

    &.isOwner,
    &.isActive {
      cursor: default;
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
      .icon {
        &::ng-deep svg {
          fill: var(--font-primary-color-100);
        }
      }
    }

    .icon {
      width: px-to-rem(20);
      height: px-to-rem(20);

      &.isOwner {
        &::ng-deep .like,
        &::ng-deep .favorite,
        &::ng-deep .share {
          //TODO Fix color later use variable
          fill: green;
          transition: fill var.$transition-duration-medium ease-in-out;
        }
      }

      &.isLiked:not(.isOwner) {
        &::ng-deep .like,
        &::ng-deep .favorite {
          //TODO Fix color later use variable
          fill: darkred;
          transition: fill var.$transition-duration-medium ease-in-out;
        }
      }

      &.isFavorited {
        &::ng-deep .like,
        &::ng-deep .favorite {
          //TODO Fix color later use variable
          fill: rgb(221, 173, 33);
          transition: fill var.$transition-duration-medium ease-in-out;
        }
      }

      @include copy-interactions($class: 'share');

      &::ng-deep .like,
      &::ng-deep .favorite,
      &::ng-deep .share {
        width: 100%;
        height: 100%;
        fill: var(--font-primary-color-50);
        transition: fill var.$transition-duration-medium ease-in-out;
      }
    }
    .count {
      @include font-settings(16, 500);
      color: var(--font-primary-color-100);
    }
  }
}
