<div class="action-placeholder">
  @if (title) {
    <h1 class="title">{{ title }}</h1>
  }

  @if (returnIcon) {
    <span
      class="icon-container"
      [innerHTML]="svgIconsService.returnIcon(returnIcon, 'icon')"
    ></span>
  }

  @if (message) {
    <div class="message">
      @for (item of message; track $index) {
        <p>{{ item }}</p>
      }
    </div>
  }

  @if (buttonLink && buttonText) {
    <button
      class="action-button"
      [routerLink]="buttonLink"
    >
      {{ buttonText }}
    </button>
  }
</div>
