@let translatePath = 'QueryBar' + '.';

@if (filterValues) {
  <aside class="query-bar">
    <section class="filter">
      <app-query-params-dropdown
        class="left-aligned"
        [mode]="'URL'"
        [features]="{ showCount: true, enableSearch: true }"
        [display]="{
          label: selectedEntityLabel('entity'),
          key: 'selectedEntityValue',
          currentValue: filterValues.selectedEntityValue,
          translatePath: translatePath,
        }"
        [endPoint]="filterValues.endPoint"
        [params]="filterValues.entityValueParams"
        [changeDetectionToken]="changeDetectionValue()"
      ></app-query-params-dropdown>

      <app-query-params-dropdown
        class="left-aligned"
        [mode]="'URL'"
        [features]="{ showCount: true, enableSearch: true, enableAllOption: true }"
        [display]="{
          label: selectedEntityLabel('postTypes'),
          key: 'selectedPostType',
          currentValue: filterValues.selectedPostType ?? '',
          translatePath: translatePath,
        }"
        [endPoint]="filterValues.endPoint"
        [params]="filterValues.postTypeParams"
        [changeDetectionToken]="changeDetectionValue()"
      ></app-query-params-dropdown>

      <app-query-params-dropdown
        class="left-aligned"
        [mode]="'URL'"
        [features]="{ showCount: true, enableSearch: true, enableAllOption: true }"
        [display]="{
          label: selectedEntityLabel('category'),
          key: 'category',
          currentValue: filterValues.selectedCategory ?? '',
          translatePath: translatePath,
        }"
        [endPoint]="filterValues.endPoint"
        [params]="filterValues.categoryParams"
        [changeDetectionToken]="changeDetectionValue()"
      ></app-query-params-dropdown>

      @if (filterValues.endPoint === 'USER_POSTS') {
        <app-query-params-dropdown
          class="left-aligned"
          [mode]="'URL'"
          [features]="{ enableAllOption: true }"
          [display]="{
            label: selectedEntityLabel('status'),
            key: 'status',
            currentValue: filterValues.selectedStatus ?? '',
            translatePath: translatePath,
          }"
          [endPoint]="filterValues.endPoint"
          [values]="{ published: 'published', private: 'private', draft: 'draft', archived: 'archived' }"
        >
        </app-query-params-dropdown>
      }

      <div class="date-filters">
        <app-query-params-datepicker
          [label]="selectedEntityLabel('dateFrom')"
          [value]="filterValues.selectedDateFrom"
          [key]="'dateFrom'"
          [min]="filterValues.minDate"
          [max]="filterValues.maxDate"
        ></app-query-params-datepicker>
        <app-query-params-datepicker
          [label]="selectedEntityLabel('dateTo')"
          [value]="filterValues.selectedDateTo"
          [key]="'dateTo'"
          [min]="filterValues.minDate"
          [max]="filterValues.maxDate"
        ></app-query-params-datepicker>
      </div>
    </section>
    <section class="sort">
      <app-query-params-dropdown
        class="right-aligned"
        [mode]="'URL'"
        [display]="{
          label: selectedEntityLabel('sort'),
          key: 'sort',
          currentValue: filterValues.selectedSort ?? '-updated_at',
          translatePath: translatePath,
        }"
        [endPoint]="filterValues.endPoint"
        [values]="{ '-updated_at': '-updated_at', updated_at: 'updated_at', '-likes_count': '-likes_count' }"
      >
      </app-query-params-dropdown>
    </section>
  </aside>
}
