@if (filterValues) {
  <aside class="query-bar">
    <section class="filter">
      <app-query-params-dropdown
        class="left-aligned"
        [mode]="'URL'"
        [showCount]="true"
        [label]="filterValues.selectedEntity === 'languages' ? 'Tech-Stack' : filterValues.selectedEntity === 'technologies' ? 'Tool' : 'Entität'"
        [key]="'selectedEntityValue'"
        [defaultValueLabel]="filterValues.selectedEntityValue"
        [defaultValue]="filterValues.selectedEntityValue"
        [enableSearch]="true"
        [endPoint]="filterValues.endPoint"
        [params]="filterValues.entityValueParams"
        [changeDetectionToken]="changeDetectionValue()"
      ></app-query-params-dropdown>

      <app-query-params-dropdown
        class="left-aligned"
        [mode]="'URL'"
        [showCount]="true"
        [label]="'Beitragstyp'"
        [key]="'selectedPostType'"
        [defaultValueLabel]="filterValues.selectedPostType ? filterValues.selectedPostType : 'Alle'"
        [defaultValue]="filterValues.selectedPostType ? filterValues.selectedPostType : ''"
        [enableAllOption]="true"
        [enableSearch]="true"
        [endPoint]="filterValues.endPoint"
        [params]="filterValues.postTypeParams"
        [changeDetectionToken]="changeDetectionValue()"
      ></app-query-params-dropdown>

      <app-query-params-dropdown
        class="left-aligned"
        [mode]="'URL'"
        [showCount]="true"
        [label]="'Kategorie'"
        [key]="'category'"
        [defaultValueLabel]="filterValues.selectedCategory ? filterValues.selectedCategory : 'Alle'"
        [defaultValue]="filterValues.selectedCategory ? filterValues.selectedCategory : ''"
        [enableAllOption]="true"
        [enableSearch]="true"
        [endPoint]="filterValues.endPoint"
        [params]="filterValues.categoryParams"
        [changeDetectionToken]="changeDetectionValue()"
      ></app-query-params-dropdown>

      @if (filterValues.endPoint === 'USER_POSTS') {
        <app-query-params-dropdown
          [mode]="'URL'"
          class="left-aligned"
          [label]="'Status'"
          [key]="'status'"
          [defaultValueLabel]="filterValues.selectedStatus ? filterValues.selectedStatus : 'Alle'"
          [defaultValue]="filterValues.selectedStatus ? filterValues.selectedStatus : ''"
          [enableAllOption]="true"
          [enableSearch]="false"
          [endPoint]="filterValues.endPoint"
          [values]="{ published: 'Veröffentlicht', private: 'Privat', draft: 'Entwurf', archived: 'Archiviert' }"
        >
        </app-query-params-dropdown>
      }

      <app-query-params-datepicker
        [label]="'Von'"
        [value]="filterValues.selectedDateFrom"
        [key]="'dateFrom'"
        [min]="filterValues.minDate"
        [max]="filterValues.maxDate"
      ></app-query-params-datepicker>
      <app-query-params-datepicker
        [label]="'bis'"
        [value]="filterValues.selectedDateTo"
        [key]="'dateTo'"
        [min]="filterValues.minDate"
        [max]="filterValues.maxDate"
      ></app-query-params-datepicker>
    </section>
    <section class="sort">
      <app-query-params-dropdown
        [mode]="'URL'"
        class="right-aligned"
        [label]="'Sortieren'"
        [key]="'sort'"
        [defaultValueLabel]="filterValues.selectedSort ? filterValues.selectedSort : 'Datum ↑'"
        [defaultValue]="filterValues.selectedSort ? filterValues.selectedSort : '-updated_at'"
        [enableSearch]="false"
        [endPoint]="filterValues.endPoint"
        [values]="{ '-updated_at': 'Latest', updated_at: 'Oldest', '-likes_count': 'Most Liked' }"
      >
      </app-query-params-dropdown>
    </section>
  </aside>
}
