@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.post-list-query-bar {
  @include display-flex($align: center, $justify: center, $direction: column, $gap: px-to-rem(5));
  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);

  padding: px-to-rem(20) px-to-rem(50);

  @media (max-width: var.$breakpoint-hd) {
    padding-inline: px-to-rem(25);
  }

  @media (max-width: var.$breakpoint-sm) {
    padding: px-to-rem(10);
  }

  .primary {
    @include display-flex($align: center, $justify: start, $gap: px-to-rem(5));
    height: px-to-rem(40);
    width: 100%;

    border-bottom: 2px solid var(--font-primary-color-50);

    @media (max-width: var.$breakpoint-xs) {
      position: relative;
    }

    .filter {
      @include display-grid($align: center, $justify: start, $gap: px-to-rem(5));
      grid-template-columns: repeat(var(--filterChildrenCount), minmax(0, 1fr));

      > *:only-child {
        max-width: px-to-rem(220);
      }

      height: 100%;
      flex: 1;
    }

    .more-options-container {
      @include display-flex($align: center, $justify: center);
      position: relative;
      height: 100%;

      @media (max-width: var.$breakpoint-xs) {
        position: unset;
      }

      .more-options-button {
        @include button-preset();
        @include display-flex($align: center, $justify: end, $gap: px-to-rem(10));
        padding-inline: px-to-rem(10);

        @media (max-width: var.$breakpoint-sm) {
          min-width: max-content;
        }

        &:hover {
          .icon-container {
            &::ng-deep .filter {
              fill: var(--font-primary-color-100);
            }
          }
          .label {
            color: var(--font-primary-color-100);
          }
        }

        .icon-container {
          height: px-to-rem(16);
          min-width: 0;

          @include svg-icon($icon-class: 'filter', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50), $hover-fill-color: var(--font-primary-color-100));
        }

        .label {
          @include font-settings($color: var(--font-primary-color-50));
          transition: color var.$transition-duration-medium ease-in-out;

          @media (max-width: var.$breakpoint-sm) {
            display: none;
          }
        }

        @include chevron-icon();

        .chevron-icon {
          @media (max-width: var.$breakpoint-sm) {
            display: none;
          }
        }
      }

      .more-options {
        @include display-flex($align: center, $justify: start);
        @include position($position: absolute, $top: 100%);

        @media (max-width: var.$breakpoint-md) {
          right: 0;
        }

        @media (max-width: var.$breakpoint-xs) {
          min-width: 100%;
        }

        .more-options-content {
          @include display-grid($align: center, $justify: start, $gap: px-to-rem(25) px-to-rem(0));
          grid-template-columns: 1fr;
          min-width: px-to-rem(320);

          @media (max-width: var.$breakpoint-xs) {
            min-width: 100%;
          }

          padding: px-to-rem(25) px-to-rem(25);

          background-color: var(--page-primary-color-100);

          border-radius: px-to-rem(15);
          border: 2px solid var(--font-primary-color-50);
          border-top-left-radius: 0;
          border-top-right-radius: 0;

          @include dropdown-animations($suffix: '-options', $origin: top, $translateX: 0%);

          :nth-child(n) {
            border-bottom: 2px solid var(--font-primary-color-50);
            padding-bottom: px-to-rem(10);
            width: 100%;
          }
        }
      }
    }

    .sort {
      @include display-flex($align: center, $justify: end);
      height: 100%;
      min-width: px-to-rem(220);
    }
  }
}
