@let translatePath = 'PostListQueryBar' + '.';

@if (filterValues) {
  <aside class="post-list-query-bar">
    <section class="filter">
      <app-query-params-dropdown
        class="left-aligned"
        [mode]="'URL'"
        [features]="{ showCount: true, enableSearch: true, enableAllOption: false, translateValues: false }"
        [display]="{
          label: selectedEntityLabel('entity'),
          key: 'selectedEntityValue',
          currentValue: filterValues.selectedEntityValue,
          translatePath: translatePath + selectedEntityLabel('entity') + '.',
        }"
        [endPoint]="filterValues.endPoint"
        [params]="filterValues.entityValueParams"
        [changeDetectionToken]="changeDetectionValue()"
      ></app-query-params-dropdown>

      <app-query-params-dropdown
        class="left-aligned"
        [mode]="'URL'"
        [features]="{ showCount: true, enableSearch: true, enableAllOption: true, translateValues: true }"
        [display]="{
          label: selectedEntityLabel('postTypes'),
          key: 'selectedPostType',
          currentValue: filterValues.selectedPostType ?? '',
          translatePath: translatePath + 'postTypes' + '.',
        }"
        [endPoint]="filterValues.endPoint"
        [params]="filterValues.postTypeParams"
        [changeDetectionToken]="changeDetectionValue()"
      ></app-query-params-dropdown>

      <app-query-params-dropdown
        class="left-aligned"
        [mode]="'URL'"
        [features]="{ showCount: true, enableSearch: true, enableAllOption: true, translateValues: false }"
        [display]="{
          label: selectedEntityLabel('category'),
          key: 'category',
          currentValue: filterValues.selectedCategory ?? '',
          translatePath: translatePath + 'category' + '.',
        }"
        [endPoint]="filterValues.endPoint"
        [params]="filterValues.categoryParams"
        [changeDetectionToken]="changeDetectionValue()"
      ></app-query-params-dropdown>

      @if (filterValues.endPoint === 'USER_POSTS') {
        <app-query-params-dropdown
          class="left-aligned"
          [mode]="'URL'"
          [features]="{ showCount: false, enableSearch: false, enableAllOption: true, translateValues: true }"
          [display]="{
            label: selectedEntityLabel('status'),
            key: 'status',
            currentValue: filterValues.selectedStatus ?? '',
            translatePath: translatePath + 'status' + '.',
          }"
          [endPoint]="filterValues.endPoint"
          [values]="{ published: 'published', private: 'private', draft: 'draft', archived: 'archived' }"
        >
        </app-query-params-dropdown>
      }

      <app-query-params-datepicker
        class="date-filters"
        [label]="selectedEntityLabel('dateFrom')"
        [value]="filterValues.selectedDateFrom"
        [key]="'dateFrom'"
        [min]="filterValues.minDate"
        [max]="filterValues.maxDate"
      ></app-query-params-datepicker>
      <app-query-params-datepicker
        class="date-filters"
        [label]="selectedEntityLabel('dateTo')"
        [value]="filterValues.selectedDateTo"
        [key]="'dateTo'"
        [min]="filterValues.minDate"
        [max]="filterValues.maxDate"
      ></app-query-params-datepicker>
    </section>
    <section class="sort">
      <app-query-params-dropdown
        class="right-aligned"
        [mode]="'URL'"
        [features]="{ showCount: false, enableSearch: false, enableAllOption: false, translateValues: true }"
        [display]="{
          label: selectedEntityLabel('sort'),
          key: 'sort',
          currentValue: filterValues.selectedSort ?? '-updated_at',
          translatePath: translatePath + 'sort' + '.',
        }"
        [endPoint]="filterValues.endPoint"
        [values]="{ '-updated_at': '-updated_at', updated_at: 'updated_at', '-likes_count': '-likes_count' }"
      >
      </app-query-params-dropdown>
    </section>
  </aside>
}
