@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.post-list-query-bar {
  @include display-flex($align: center);
  height: px-to-rem(80);
  min-width: max-content;

  background-color: var(--page-primary-color-100);
  padding: px-to-rem(20) px-to-rem(50);
  border-radius: px-to-rem(15);

  .filter {
    @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));
    height: 100%;
    border-bottom: 2px solid var(--font-primary-color-50);

    .date-filters {
      @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));
    }
  }

  .sort {
    @include display-flex($align: center, $justify: end);
    height: 100%;
    border-bottom: 2px solid var(--font-primary-color-50);

    flex-grow: 1;
  }
}
