@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  @include display-flex($justify: end);
  flex: 1;

  @media (max-width: var.$breakpoint-hd) {
    flex: 0;
    min-width: fit-content;
  }
}
