<div
  class="post-resource-modal"
  (click)="$event.stopPropagation()"
>
  <header class="header">
    <h3 class="title">{{ modalData.title }}</h3>
    <span
      class="icon"
      [innerHTML]="svgIconsService.returnIcon('close')"
      (click)="onClose()"
    ></span>
  </header>

  @if (modalData.resources && modalData.resources.length > 0) {
    @for (resource of modalData.resources; track $index) {
      <div class="resource">
        <a
          class="icon"
          [innerHTML]="svgIconsService.returnIcon('external_link')"
          [href]="resource"
          target="_blank"
        ></a>
        <p class="link">{{ resource }}</p>
      </div>
    }
    <footer class="footer">
      <button
        class="remove_link"
        (click)="enableExternalContent(modalData.type, 0)"
        [innerHTML]="svgIconsService.returnIcon('remove_link')"
      ></button>
    </footer>
  } @else if (modalData.previews && modalData.previews.length > 0) {
    <div class="previews">
      <div class="preview-list">
        @for (preview of modalData.previews; track $index) {
          <div class="external-source-preview">
            <span
              class="icon"
              [innerHTML]="svgIconsService.returnIcon('external_link')"
            ></span>
            <p>{{ preview.domain }}</p>
          </div>
        }
      </div>

      <div class="load-external-content">
        <p>Links zu externen Inhalten einblenden ?</p>

        <div class="options">
          <button
            class="selected"
            (click)="enableExternalContent(modalData.type, 1)"
          >
            1h
          </button>
          <button
            class="selected"
            (click)="enableExternalContent(modalData.type, 12)"
          >
            12h
          </button>
          <button
            class="selected"
            (click)="enableExternalContent(modalData.type, 24)"
          >
            24h
          </button>
          <button
            class="selected"
            (click)="onClose()"
          >
            Nein
          </button>
        </div>
      </div>
    </div>
  }
</div>
