<section class="community">
  @if (searchService.showSearchResults$ | async) {
    <app-tech-block
      [class.active]="searchService.searchActive$ | async"
      [attr.aria-hidden]="!(searchService.searchActive$ | async)"
      [context]="PageContextEnums.COMMUNITY"
      [heading]="'Suchergebnisse'"
      [version]="'search-results'"
      [endPoint]="'POSTS'"
      [params]="['?select=count:languages.name&filter[status]=eq:published', '?select=count:technologies.name&filter[status]=eq:published']"
    ></app-tech-block>
  }

  @if (authService.isLoggedIn()) {
    <app-tech-block
      [class.active]="!(searchService.searchActive$ | async)"
      [attr.aria-hidden]="searchService.searchActive$ | async"
      [context]="PageContextEnums.COMMUNITY"
      [heading]="'Favoriten'"
      [version]="'favorites'"
      [endPoint]="'POSTS'"
      [params]="['?select=count:languages.name&filter[status]=eq:published', '?select=count:technologies.name&filter[status]=eq:published']"
    ></app-tech-block>
  } @else if (!(searchService.searchActive$ | async)) {
    <app-guest-teaser-prompt
      [title]="'Favoriten'"
      [message]="'Bitte melde dich an, um deine Favoriten zu sehen.'"
      [buttonText]="'Anmelden'"
      [buttonLink]="'/login'"
    ></app-guest-teaser-prompt>
  }

  <app-tech-block
    [class.active]="!(searchService.searchActive$ | async)"
    [attr.aria-hidden]="searchService.searchActive$ | async"
    [context]="PageContextEnums.COMMUNITY"
    [heading]="'Sprachen / Frameworks'"
    [version]="'default'"
    [endPoint]="'POSTS'"
    [params]="['?select=count:languages.name&filter[status]=eq:published']"
  ></app-tech-block>

  <app-tech-block
    [class.active]="!(searchService.searchActive$ | async)"
    [attr.aria-hidden]="searchService.searchActive$ | async"
    [context]="PageContextEnums.COMMUNITY"
    [heading]="'Tools'"
    [version]="'default'"
    [endPoint]="'POSTS'"
    [params]="['?select=count:technologies.name&filter[status]=eq:published']"
  ></app-tech-block>
</section>
