@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.footer {
  background-color: var(--background-color-100);
  min-height: px-to-rem(50);
  height: px-to-rem(50);

  @media (max-width: var.$breakpoint-md) {
    display: none;
  }

  .content {
    @include display-flex($align: center, $justify: space-between, $gap: px-to-rem(25));
    padding-inline: px-to-rem(50);
    height: 100%;

    background-color: var(--page-primary-color-100);
    border-radius: px-to-rem(15);
  }
}
