@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.footer {
  @include display-flex(center, space-between, row);
  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);

  padding-inline: px-to-rem(50);
  min-height: px-to-rem(50);

  .left,
  .center,
  .right {
    @include display-flex(center, center, row);
    gap: px-to-rem(10);
    flex: 1;
    a {
      color: var(--font-primary-color-100);
      transition: color var.$transition-duration-medium ease-in-out;

      &:hover {
        color: var(--font-primary-color-50);
      }
    }
  }

  .left {
    justify-content: flex-start;
  }

  .center {
    justify-content: center;

    span {
      @include display-flex(center, center);

      &::ng-deep .copyright {
        fill: var(--font-primary-color-100);
        width: px-to-rem(16);
        height: px-to-rem(16);
      }
    }
  }

  .right {
    justify-content: flex-end;
  }
}
