<div class="terminal-log-container">
  <header class="header">
    <div class="badges">
      @if (countMessagesByLevel('system') > 0) {
        <span class="badge system">System: {{ countMessagesByLevel('system') }}</span>
      }
      @if (countMessagesByLevel('info') > 0) {
        <span class="badge info">Info: {{ countMessagesByLevel('info') }}</span>
      }
      @if (countMessagesByLevel('success') > 0) {
        <span class="badge success">Success: {{ countMessagesByLevel('success') }}</span>
      }
      @if (countMessagesByLevel('error') > 0) {
        <span class="badge error">Error: {{ countMessagesByLevel('error') }}</span>
      }
    </div>
    <time class="updated_at">[ {{ currentTime | localDate: 'full' }} ]</time>
  </header>

  <div
    #terminalLog
    class="terminal-log"
  >
    @for (message of delayedMessages; track $index) {
      <span
        class="message"
        [class.animating]="$index > 0"
        [style.--animation-delay]="$index * 100 + 'ms'"
        [title]="message.text"
        [class]="message.level"
      >
        {{ message.text }}
      </span>
    }
    <span class="new-line">$</span>
  </div>
</div>
