@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  --content-max-width: #{var.$content-max-width};

  &.is-fluid {
    --content-max-width: 100%;
  }

  --tile-width: #{px-to-rem(280)};
  --tile-height: #{px-to-rem(280)};
  --column-gap: #{px-to-rem(50)};
  --row-gap: #{px-to-rem(25)};

  @media (max-width: var.$breakpoint-lg) {
    --tile-width: #{px-to-rem(230)};
    --tile-height: #{px-to-rem(230)};
    --column-gap: #{px-to-rem(25)};
    --row-gap: #{px-to-rem(12)};
  }

  @media (max-width: var.$breakpoint-sm) {
    --tile-width: #{px-to-rem(180)};
    --tile-height: #{px-to-rem(180)};
    --column-gap: #{px-to-rem(25)};
    --row-gap: #{px-to-rem(12)};
  }
}

.post-types-selection {
  margin-bottom: px-to-rem(40);
  max-width: var(--content-max-width);
  margin-inline: auto;

  .heading {
    @include font-settings(24);
    margin-bottom: px-to-rem(25);
  }

  .tiles {
    @include display-grid($align: start, $justify: center, $justify-content: center, $gap: var(--row-gap) var(--column-gap));
    grid-template-columns: repeat(auto-fill, var(--tile-width));

    .tile {
      @include display-flex($align: center, $justify: space-between, $direction: column, $gap: px-to-rem(10));
      background-color: var(--page-primary-color-100);
      width: var(--tile-width);
      height: var(--tile-height);
      border-radius: px-to-rem(15);

      padding: px-to-rem(15);

      @include box-shadow-on($modifier: ':hover');

      .content {
        @include display-flex($align: center, $justify: start, $gap: px-to-rem(15));
        width: 100%;
        min-height: 0;

        .container {
          @include display-flex($align: center, $justify: center);
          height: 100%;
          min-width: 0;

          @include svg-icon($icon-class: 'tile-icon', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-100));
        }

        .name {
          @include font-settings();
          @include singleline-ellipsis();
          text-transform: capitalize;
        }
      }

      .description-container {
        max-height: 50%;
        min-height: 50%;

        .description {
          @include font-settings();
          @include multiline-ellipsis(5);
        }
      }

      .count-container {
        @include display-flex($align: center);
        width: 100%;

        .count {
          @include font-settings();
          width: 100%;
          text-align: end;
        }
      }
    }
  }
}
