@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  height: 100%;
  width: 100%;
}

.datepicker {
  @include display-flex($align: center, $justify: start, $gap: px-to-rem(25));
  height: 100%;
  width: px-to-rem(220);

  .picker {
    @include display-flex($align: center, $justify: start, $gap: px-to-rem(10));
    height: 100%;
    width: max-content;
    position: relative;

    &:hover {
      .label {
        color: var(--font-primary-color-100);
      }
      .calendar-icon {
        &::ng-deep .calendar {
          fill: var(--font-primary-color-100);
        }
      }
    }

    .label {
      @include font-settings($color: var(--font-primary-color-50));
      transition: color var.$transition-duration-medium ease-in-out;
    }

    .input {
      background-color: transparent;
      border: none;
      color: var(--font-primary-color-100);
      outline: none;
      cursor: text;

      &::-webkit-calendar-picker-indicator {
        opacity: 0;
        padding-left: px-to-rem(10);
        cursor: pointer;
      }
    }

    .calendar-icon {
      @include display-flex($align: center, $justify: center);
      @include position($position: absolute, $right: 0);
      height: px-to-rem(16);
      pointer-events: none;
      background-color: var(--page-primary-color-100);

      @include svg-icon($icon-class: 'calendar', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50));
    }
  }

  .reset-button {
    @include button-preset();
    @include display-flex($align: center, $justify: center);
    height: px-to-rem(16);
    width: px-to-rem(16);
    cursor: pointer;

    .reset-icon {
      @include display-flex($align: center, $justify: center);
      height: 100%;

      @include svg-icon($icon-class: 'reset', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50), $hover-fill-color: var(--font-primary-color-100));
    }
  }
}
