@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  height: 100%;
  width: 100%;
}

.datepicker {
  @include display-flex($align: center, $justify: start, $direction: row, $gap: px-to-rem(10));
  height: 100%;
  width: max-content;
  position: relative;

  &:hover {
    .label {
      color: var(--font-primary-color-100);
    }
    .new-icon {
      &::ng-deep .calendar {
        fill: var(--font-primary-color-100);
      }
    }
  }

  .label {
    @include font-settings($color: var(--font-primary-color-50));
    transition: color var.$transition-duration-medium ease-in-out;
  }

  .input {
    background-color: transparent;
    border: none;
    color: var(--font-primary-color-100);
    outline: none;
    cursor: text;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      padding-left: px-to-rem(10);
      cursor: pointer;
    }
  }

  .new-icon {
    @include display-flex($align: center, $justify: center);
    @include position($position: absolute, $right: 0);
    height: px-to-rem(16);
    pointer-events: none;

    @include svg-icon($icon-class: 'calendar', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50));
  }
}
