@let translatePath = 'Datepicker' + '.';

@if (config) {
  <div class="datepicker">
    <label
      class="label"
      for="{{ config.key + '-datepicker' }}"
      >{{ translatePath + config.label | translate }}</label
    >
    <input
      class="input"
      (change)="onSelect($event.target.value, config.key)"
      type="date"
      id="{{ config.key + '-datepicker' }}"
      [value]="config.value"
      [min]="config.min"
      [max]="config.max"
    />
    <span
      class="new-icon"
      [innerHTML]="svgIconsService.returnIcon('calendar')"
      aria-hidden="true"
    ></span>
  </div>
}
