<!--TODO Refactor this component to one that can be used for all badge types (error, info, success).-->

@if (messages !== null) {
  @if (messages['error']) {
    <div
      class="badge dev-error"
      [class.center]="caret === 'center' || caret === null"
      [class.left]="caret === 'left'"
      [class.right]="caret === 'right'"
    >
      <span class="badge-text">[!] {{ messages['error'] }}</span>
    </div>
  } @else if (messages['info']) {
    <div
      class="badge dev-info"
      [class.center]="caret === 'center' || caret === null"
      [class.left]="caret === 'left'"
      [class.right]="caret === 'right'"
    >
      <span class="badge-text">[i] {{ messages['info'] }}</span>
    </div>
  } @else if (messages['success']) {
    <div
      class="badge dev-success"
      [class.center]="caret === 'center' || caret === null"
      [class.left]="caret === 'left'"
      [class.right]="caret === 'right'"
    >
      <span class="badge-text">[✓] {{ messages['success'] }}</span>
    </div>
  }
}
