@if (getActiveBadge(); as badge) {
  <div
    class="badge {{ badge.type }}"
    [class.center]="!caret || caret === 'center'"
    [class.left]="caret === 'left'"
    [class.right]="caret === 'right'"
    [style.--animation-delay]="animationDelay + 'ms'"
  >
    <span
      class="badge-text"
      #badgeText
      [class.is-overflowing-y]="isOverflowingY"
      [class.single-word]="isTranslationsPath"
    >
      <span>{{ badge.icon }}</span>
      @if (badge.htmlText) {
        <span
          (click)="handleLinkClick($event)"
          [innerHTML]="badge.htmlText"
        ></span>
      } @else {
        <span>{{ badge.text }}</span>
      }
    </span>
  </div>
}
