@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  @include display-flex($align: center, $justify: center);
  position: relative;
  height: 100%;

  @media (max-width: var.$breakpoint-md) {
    position: unset;
  }

  &.mobile-menu {
    display: none;
    @media (max-width: var.$breakpoint-md) {
      @include display-flex($align: center, $justify: center);
    }
  }
}

.page-navigation {
  @include display-flex($align: center, $justify: center, $gap: px-to-rem(25));
  height: 100%;

  :host(.mobile-menu) & {
    background-color: var(--page-primary-color-100);
    border-radius: px-to-rem(15);
    width: 100%;
  }

  .search {
    position: absolute;
    width: 100%;
    z-index: 999;

    &.animated-in {
      @include width-slide-animation($animation: 'widthSlideIn', $duration: var.$transition-duration-slow * 2);
    }

    &.animated-out {
      @include width-slide-animation($animation: 'widthSlideOut', $duration: var.$transition-duration-slow);
    }

    &:not(.active) {
      opacity: 0;
      pointer-events: none;
    }
  }

  .links {
    @include display-grid($gap: px-to-rem(25));
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    grid-template-rows: 100%;
    height: 100%;

    @media (max-width: var.$breakpoint-hd) {
      gap: px-to-rem(15);
    }

    @media (max-width: var.$breakpoint-md) {
      :host:not(.mobile-menu) & {
        grid-template-columns: repeat(1, minmax(max-content, 1fr));
      }

      :host(.mobile-menu) & {
        gap: px-to-rem(0);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        flex-shrink: 0;
      }
    }

    &.animated-in {
      @include fade-animation($animation: 'fadeIn', $duration: var.$transition-duration-slow * 2);
    }

    &.animated-out {
      @include fade-animation($animation: 'fadeOut', $duration: var.$transition-duration-slow);
    }

    &:not(.active) {
      opacity: 0;
      pointer-events: none;
    }

    .link {
      @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));
      @include golden-ratio-padding();
      background-color: var(--page-primary-color-100);
      border-radius: px-to-rem(15);
      height: 100%;

      @media (max-width: var.$breakpoint-md) {
        :host:not(.mobile-menu) & {
          display: none;
          pointer-events: none;
        }
      }

      :host:not(.mobile-menu) & {
        @include box-shadow-on($modifier: ':hover');
        @include box-shadow-on($modifier: '.active', $box-shadow: 0 0 px-to-rem(8) var(--font-primary-color-100));
      }

      .icon-container {
        height: 100%;
        :host:not(.mobile-menu) & {
          @include svg-icon($icon-class: 'icon', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-100));
        }

        :host(.mobile-menu) & {
          @include svg-icon(
            $icon-class: 'icon',
            $height: 100%,
            $width: 100%,
            $fill-color: var(--font-primary-color-50),
            $hover-fill-color: var(--font-primary-color-100),
            $active-fill-color: var(--font-primary-color-100)
          );
        }
      }

      .label {
        @include font-settings();
        @media (max-width: var.$breakpoint-hd) {
          display: none;
        }
      }
    }
  }
}
