<nav>
  <a [routerLink]="'/'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Mein Bereich</a>
  <a [routerLink]="'/'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Favoriten</a>
  <!-- Todo Make Search Component later, for use query params -->
  <button>Suche</button>
  <a [routerLink]="'/'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Netzwerk</a>
  <a [routerLink]="'/community'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Community</a>
</nav>
