@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  @include display-flex($align: center, $justify: center);
  position: relative;

  @media (max-width: var.$breakpoint-md) {
    position: unset;
  }
}

.page-navigation {
  @include display-flex($align: center);
  flex-shrink: 0;

  .elements {
    @include display-flex($align: center, $justify: center, $gap: px-to-rem(25));

    .search {
      position: absolute;
      width: 100%;
      z-index: 999;

      &.animated-in {
        @include width-slide-animation($animation: 'widthSlideIn', $duration: var.$transition-duration-slow * 2);
      }

      &.animated-out {
        @include width-slide-animation($animation: 'widthSlideOut', $duration: var.$transition-duration-slow);
      }

      &:not(.active) {
        opacity: 0;
        pointer-events: none;
      }
    }

    .links {
      @include display-grid($gap: px-to-rem(25));
      grid-template-columns: 1fr 1fr auto 1fr 1fr;
      flex-shrink: 0;

      @media (max-width: var.$breakpoint-hd) {
        gap: px-to-rem(15);
      }

      @media (max-width: var.$breakpoint-md) {
        grid-template-columns: repeat(1, minmax(max-content, 1fr));
      }

      &.animated-in {
        @include fade-animation($animation: 'fadeIn', $duration: var.$transition-duration-slow * 2);
      }

      &.animated-out {
        @include fade-animation($animation: 'fadeOut', $duration: var.$transition-duration-slow);
      }

      &:not(.active) {
        opacity: 0;
        pointer-events: none;
      }

      .link {
        @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));
        @include golden-ratio-padding();
        background-color: var(--page-primary-color-100);
        border-radius: px-to-rem(15);

        height: px-to-rem(60);

        @media (max-width: var.$breakpoint-hd) {
          height: px-to-rem(48);
        }

        @media (max-width: var.$breakpoint-md) {
          display: none;
          pointer-events: none;
        }

        transition: box-shadow var.$transition-duration-medium ease-in-out;

        &:hover {
          box-shadow: 0 0 px-to-rem(8) var(--font-primary-color-50);
        }

        &.active {
          box-shadow: 0 0 px-to-rem(8) var(--font-primary-color-100);
        }

        .icon-container {
          height: 100%;

          @include svg-icon($icon-class: 'icon', $height: 90%, $width: 90%, $fill-color: var(--font-primary-color-100));
        }

        .label {
          @include font-settings();

          @media (max-width: var.$breakpoint-hd) {
            display: none;
          }
        }
      }

      .search-button {
        @include display-flex($align: center, $justify: center);
      }
    }
  }
}
