@if (loginForm !== null) {
  <div class="login">
    <div class="header">
      <h1 class="heading">Anmelden</h1>
      <h2 class="subheading">Anmelden, um loszulegen.</h2>
    </div>

    <div class="icon-wrapper">
      <app-badge
        class="badge"
        [messages]="messages['login']"
      ></app-badge>

      <span
        class="icon-container"
        [class.processing]="isProcessing"
        [class.success]="loginSuccessful"
        [innerHTML]="svgIconsService.returnIcon(getDuckIcon(), 'icon')"
      ></span>
    </div>

    <form
      class="form"
      [formGroup]="loginForm"
    >
      <div class="input-container">
        <app-badge
          class="badge"
          [messages]="loginForm.get('identifier')?.invalid && loginForm.get('identifier')?.touched ? messages['identifier'] : null"
          [caret]="'left'"
        ></app-badge>

        <input
          class="input"
          type="text"
          name="identifier"
          formControlName="identifier"
          placeholder="E-Mail-Adresse oder Benutzernamen eingeben"
        />
      </div>

      <div class="input-container">
        <app-badge
          class="badge"
          [messages]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched ? messages['password'] : null"
          [caret]="'left'"
        ></app-badge>

        <input
          class="input"
          type="password"
          name="password"
          (focus)="isPasswordFocused = true"
          (blur)="isPasswordFocused = false"
          formControlName="password"
          placeholder="Passwort eingeben"
        />
      </div>

      @if (mustAcceptConditions) {
        <div class="conditions-warning">
          <app-badge
            class="badge"
            [messages]="loginForm.get('acceptedConditions')?.invalid || loginForm.get('acceptedConditions')?.valid ? messages['acceptedConditions'] : null"
            [caret]="'left'"
          ></app-badge>

          <label class="checkbox-container">
            <input
              class="checkbox"
              type="checkbox"
              formControlName="acceptedConditions"
              (change)="checkboxChanged()"
            />
            <span class="custom-checkbox"></span>
            Ich akzeptiere die Nutzungsbedingungen und die Datenschutzerklärung.
          </label>
        </div>
      }

      <button
        class="submit-button"
        (click)="onSubmit()"
      >
        Anmelden
      </button>
    </form>

    <div class="footer-links">
      <a
        [routerLink]="['/account-deletion']"
        class="link"
        >Konto löschen</a
      >

      <span class="register-wrapper">
        Noch kein Konto?
        <a
          [routerLink]="['/register']"
          class="link"
          >Konto erstellen</a
        >
      </span>
    </div>
  </div>
}
