@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.login {
  @include display-flex($align: center, $direction: column);
  @include context-box($max-width: 700px);
  gap: px-to-rem(25);

  margin-inline: auto;
  margin-block: px-to-rem(0) px-to-rem(25);

  .header {
    @include display-flex($align: center, $direction: column);

    .heading {
      @include font-settings(32);
    }

    .subheading {
      @include font-settings(16);
      color: var(--font-primary-color-50);
    }
  }

  .icon-wrapper {
    @include display-flex(center, center);
    margin-top: px-to-rem(5);
    width: 100%;

    .icon-container {
      @include display-flex(center);
      max-width: px-to-rem(160);
      max-height: px-to-rem(160);
      align-self: center;

      &.processing {
        @include shake();
      }

      &.success {
        @include jump();
        animation-delay: var.$transition-duration-medium;
      }

      &::ng-deep .icon {
        max-width: px-to-rem(160);
        max-height: px-to-rem(160);
        width: 100%;
        height: 100%;
      }
    }
    @include position-absolute($class: '.badge', $bottom: 100%, $left: 50%, $transform: translateX(-50%));
  }

  .form {
    @include display-flex($direction: column);
    gap: px-to-rem(25);
    width: 100%;

    .input-container {
      @include display-flex($direction: column);
      gap: px-to-rem(15);
      margin-top: px-to-rem(25);

      .password-input-wrapper {
        @include display-flex(center);
        @include position-absolute($class: '.password-toggle-button', $right: px-to-rem(20), $margin-bottom: unset);
      }

      .input {
        @include input-feld($height: 50px, $color: var(--font-primary-color-100));

        background-color: var(--page-secondary-color-50);
        border: px-to-rem(2) solid var(--font-primary-color-25);
        border-radius: px-to-rem(10);
      }

      @include position-absolute($class: '.badge', $bottom: 100%, $left: 0);
    }

    .conditions-warning {
      @include display-flex($direction: column);
      @include font-settings(14);
      gap: px-to-rem(15);
      text-align: center;
      margin-top: px-to-rem(25);

      .checkbox-container {
        @include display-flex(center);
        gap: px-to-rem(10);

        @include custom-check-box('.custom-checkbox');
      }

      @include position-absolute($class: '.badge', $bottom: 100%, $left: 0);
    }

    .submit-button {
      @include button-preset();
      @include button-default-style();
      align-self: center;
    }
  }

  .footer-links {
    @include display-flex(center, space-between);
    width: 100%;

    .link {
      @include font-settings(14);
      color: var(--font-primary-color-100);

      &:hover {
        cursor: pointer;
        color: var(--font-primary-color-50);

        transition: color var.$transition-duration-fast ease-in-out;
      }
    }

    .register-wrapper {
      @include font-settings(14);
      color: var(--font-primary-color-50);

      .link {
        color: var(--font-primary-color-50);

        &:hover {
          cursor: pointer;
          color: var(--font-primary-color-100);

          transition: color var.$transition-duration-fast ease-in-out;
        }
      }
    }
  }
}
