@if (loginForm !== null) {
  <div class="login">
    <div class="header">
      <h1 class="heading">Anmelden</h1>
      <h2 class="subheading">Anmelden, um loszulegen.</h2>
    </div>

    <div class="icon-wrapper">
      <app-badge
        class="badge"
        [messages]="messages['login']"
      ></app-badge>

      <span
        class="icon-container"
        [innerHTML]="svgIconsService.returnIcon('login_1_duck', 'icon')"
      ></span>
    </div>

    <form
      class="form"
      [formGroup]="loginForm"
    >
      <div class="input-container">
        <app-badge
          class="badge"
          [messages]="messages['identifier']"
          [caret]="'left'"
        ></app-badge>

        <input
          class="input"
          type="text"
          name="identifier"
          formControlName="identifier"
          placeholder="E-Mail-Adresse oder Benutzernamen eingeben"
        />
      </div>

      <div class="input-container">
        <app-badge
          class="badge"
          [messages]="messages['password']"
          [caret]="'left'"
        ></app-badge>

        <input
          class="input"
          type="password"
          name="password"
          formControlName="password"
          placeholder="Passwort eingeben"
        />
      </div>

      @if (mustAcceptConditions) {
        <div class="conditions-warning">
          <app-badge
            class="badge"
            [messages]="messages['acceptedConditions']"
            [caret]="'left'"
          ></app-badge>

          <label class="checkbox-container">
            <input
              class="checkbox"
              type="checkbox"
              formControlName="acceptedConditions"
              (change)="checkboxChanged()"
            />
            <span class="custom-checkbox"></span>
            Ich akzeptiere die Nutzungsbedingungen und die Datenschutzerklärung.
          </label>
        </div>
      }

      <button
        class="submit-button"
        (click)="onSubmit()"
      >
        Anmelden
      </button>
    </form>

    <!--TODO add routerLink to the links-->
    <div class="footer-links">
      <a class="link">Konto löschen</a>

      <span class="register-wrapper">
        Noch kein Konto?
        <a class="link">Konto erstellen</a>
      </span>
    </div>
  </div>
}
