@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.password-requirements {
  @include display-flex($align: center, $justify: center, $direction: row, $gap: px-to-rem(20));
  width: 100%;

  .requirement {
    color: var(--font-primary-color-100);

    &.is-valid {
      color: green;
    }
  }
}
