@if (isPasswordFocused && control) {
  @let passwordRequirements = control.errors?.['weakPassword'] || null;
  @let passwordLength = control.value?.length || 0;
  <span class="password-requirements">
    <span
      class="requirement"
      [class.is-valid]="passwordLength != 0 && (passwordRequirements === null || passwordRequirements?.hasUpperCase)"
      >A-Z</span
    >
    <span
      class="requirement"
      [class.is-valid]="passwordLength != 0 && (passwordRequirements === null || passwordRequirements?.hasLowerCase)"
      >a-z</span
    >
    <span
      class="requirement"
      [class.is-valid]="passwordLength != 0 && (passwordRequirements === null || passwordRequirements?.hasNumber)"
      >0-9</span
    >
    <span
      class="requirement"
      [class.is-valid]="passwordLength != 0 && (passwordRequirements === null || passwordRequirements?.hasSpecialChar)"
      >!?$</span
    >
  </span>
}
