@if (control) {
  <label class="checkbox-container">
    <input
      class="checkbox"
      type="checkbox"
      [formControl]="control"
      (change)="onCheckboxChange()"
    />
    <span class="custom-checkbox"></span>
    <span class="checkbox-text">
      Ich akzeptiere die
      <a
        class="terms"
        [routerLink]="['/legal/terms']"
        target="_blank"
        >Nutzungsbedingungen</a
      >
      &
      <a
        class="privacy"
        [routerLink]="['/legal/privacy']"
        target="_blank"
        >Datenschutzerklärung</a
      >.
    </span>
  </label>
}
