@let translatePath = 'ControlUserBadge' + '.';
@let translatePathAriaLabel = translatePath + 'ariaLabel' + '.';

<div
  class="control-user-badge"
  appClickOutsideDirective
  [clickOutsideEnabled]="menuOpen"
  (clickOutside)="triggerCloseBadgeMenu()"
>
  <button
    class="user-badge"
    type="button"
    (click)="toggleBadgeMenu()"
    [class.menu-active]="menuActive"
    [attr.aria-label]="translatePathAriaLabel + (menuOpen ? 'closeMenu' : 'openMenu') | translate"
    [attr.aria-expanded]="menuOpen"
    aria-controls="control-user-menu"
    [disabled]="!menuActive"
  >
    @if (authService.isLoggedIn() && user) {
      <app-avatar-layer
        [avatarMvpId]="user.avatar_mvp_id ?? null"
        [menuOpen]="menuOpen"
        [direction]="'left'"
      ></app-avatar-layer>
    } @else {
      <app-avatar-layer
        [avatarMvpId]="'guest'"
        [menuOpen]="menuOpen"
        [direction]="'left'"
      ></app-avatar-layer>
    }
  </button>

  @if (menuActive && menuOpen) {
    <app-control-user-menu
      id="control-user-menu"
      [user]="user"
      [isUserBadgeMenuOpen]="menuOpen"
      [isUserBadgeMenuAnimating]="menuAnimating"
      (closeMenu)="closeBadgeMenu()"
    ></app-control-user-menu>
  }
</div>
