@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

.control-user-badge {
  position: relative;

  .user-badge {
    @include display-flex($align: center, $gap: px-to-rem(10));
    height: px-to-rem(60);

    &:hover {
      cursor: pointer;
    }
  }
}
