@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

.control-user-badge {
  position: relative;

  .user-badge {
    @include display-flex($align: center, $gap: px-to-rem(10));
    height: px-to-rem(60);

    &:hover {
      cursor: pointer;
    }

    // TODO: Re-evaluate
    // .display-name {
    //   @include font-settings();

    //   @media (max-width: var.$breakpoint-lg) {
    //     display: none;
    //   }

    //   &::first-letter {
    //     text-transform: uppercase;
    //   }
    // }
  }
}
