@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

.control-user-badge {
  position: relative;
  height: 100%;

  .user-badge {
    @include button-preset();
    @include display-flex($align: center, $gap: px-to-rem(10));
    height: 100%;
  }
}
