@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

.tech-tile {
  @include display-flex($align: center);
  padding: px-to-rem(15);

  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);
  overflow: hidden;

  position: relative;
  height: var(--tile-height);
  width: var(--tile-width);

  transition: box-shadow var.$transition-duration-medium ease-in-out;

  @include box-shadow-on($modifier: ':hover:not(:has(.favorite-icon-container:hover))');

  @include box-shadow-on($modifier: ':has(.favorite-icon-container:hover)', $box-shadow: 0 0 px-to-rem(8) var(--favorite-color-100));

  .tile {
    @include display-flex($align: center, $justify: space-between, $direction: column, $gap: px-to-rem(10));
    height: 100%;
    width: 100%;

    @media (max-width: var.$breakpoint-lg) {
      gap: px-to-rem(5);
    }

    .header {
      @include display-flex($align: center);
      height: 15%;
      width: 100%;

      .count {
        @include font-settings(14);
        width: fit-content;
        text-align: end;
      }
    }

    .content {
      @include display-flex($align: center, $justify: center, $direction: column, $gap: px-to-rem(10));
      width: 100%;
      min-height: 0;

      .container {
        @include display-flex($align: center, $justify: center);
        width: 100%;
        min-height: 0;

        @include svg-icon($icon-class: 'tile-icon', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50));
      }
    }

    .footer {
      @include display-flex($align: center, $justify: center);
      width: 100%;

      .name {
        @include font-settings(16);
        @include singleline-ellipsis();
        text-transform: capitalize;
        text-align: center;
        width: 100%;
      }
    }
  }

  .favorite-icon-container {
    @include button-preset();
    @include display-flex($align: center, $justify: end);
    @include position($position: absolute, $top: px-to-rem(10), $right: px-to-rem(10));
    height: 15%;
    min-height: 0;

    width: max-content;

    .icon-container {
      height: 100%;

      @include svg-icon(
        $icon-class: 'favorite',
        $height: 100%,
        $width: 100%,
        $fill-color: var(--font-primary-color-50),
        $hover-fill-color: var(--favorite-color-100),
        $active-fill-color: var(--favorite-color-100)
      );
    }
  }
}
