@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.user-avatar-customizer {
  @include display-flex($align: center, $justify: space-between, $direction: column, $gap: px-to-rem(50));
  @include context-box($max-width: 700px, $width: 100%, $max-height: 700px, $height: 100%);

  @media (max-width: var.$breakpoint-md) {
    max-height: max-content;
  }

  .header {
    @include display-flex($align: center, $direction: column, $gap: px-to-rem(10));
    height: max-content;
    width: 100%;

    .heading-wrapper {
      @include display-flex($align: center, $justify: space-between);
      width: 100%;

      .heading {
        @include font-settings($font-size: 32);
        width: 100%;
        text-align: left;
      }
    }

    .subheading {
      @include font-settings(16);
      width: 100%;
      text-align: left;
      color: var(--font-primary-color-50);
    }
  }

  .avatar-carousel {
    @include display-flex($gap: px-to-rem(50));
    max-height: 50%;
    min-height: 0;
    width: 100%;

    @media (max-width: var.$breakpoint-sm) {
      gap: px-to-rem(25);
    }

    .prev,
    .next {
      @include button-preset();

      height: px-to-rem(34);
      width: px-to-rem(34);

      @media (max-width: var.$breakpoint-md) {
        height: px-to-rem(24);
        width: px-to-rem(24);
      }

      flex-shrink: 0;

      margin: auto;

      @include svg-icon($icon-class: 'direction-icon', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-100), $hover-fill-color: var(--font-primary-color-50));
    }

    .avatar-container {
      position: relative;
      aspect-ratio: 1 / 1;

      .avatar {
        display: block;
        height: 100%;
        width: 100%;

        border-radius: px-to-rem(15);

        @media (max-width: var.$breakpoint-sm) {
          border-radius: px-to-rem(10);
        }

        &:hover {
          cursor: pointer;
        }
      }

      .avatar:hover + .dice-icon {
        opacity: 1;
        transition: opacity var.$transition-duration-medium ease-in-out;
      }

      @include absolute-child('.dice-icon', $top: px-to-rem(10), $right: px-to-rem(10));

      .dice-icon {
        height: px-to-rem(34);
        width: px-to-rem(34);

        @media (max-width: var.$breakpoint-md) {
          height: px-to-rem(24);
          width: px-to-rem(24);
        }

        opacity: 0;

        &:hover {
          cursor: grabbing;
          opacity: 1;
          transition: opacity var.$transition-duration-medium ease-in-out;
        }

        &.shake {
          @include shake($suffix: 'dice', $intensity: 2px);
        }

        @include svg-icon($icon-class: 'dice', $height: 100%, $width: 100%);
      }
    }
  }

  .avatar-actions {
    @include display-flex($align: end, $justify: space-between, $gap: px-to-rem(20));
    max-height: max-content;
    width: 100%;

    .save,
    .reset {
      --height: 48px;

      @include button-preset();
      @include button-default-style($height: var(--height));
      @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));

      @media (max-width: var.$breakpoint-sm) {
        --height: 38px;
        min-width: 0;
        background-color: transparent;
        border: none;

        &:hover {
          background-color: transparent;
          border: none;
        }
      }

      .icon-container {
        height: 100%;

        @include svg-icon($icon-class: 'action-icon', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-100), $hover-fill-color: var(--font-primary-color-50));
      }

      .text {
        @include font-settings($font-size: 16);

        @media (max-width: var.$breakpoint-sm) {
          display: none;
        }
      }
    }
  }
}
