<section class="user-avatar-customizer">
  <header class="header">
    <div class="heading-wrapper">
      <h1 class="heading">Avatar Anpassung</h1>
      <app-mvp-pill></app-mvp-pill>
    </div>
    <h2 class="subheading">Suche dir einen Avatar aus, der zu dir passt.</h2>
  </header>

  <div class="avatar-carousel">
    <button
      class="prev"
      (click)="switchAvatar('prev')"
    >
      <span [innerHTML]="svgIconsService.returnIcon('arrow_backward', 'direction-icon')"></span>
    </button>

    <div class="avatar-container">
      <img
        class="avatar"
        (click)="randomizeAvatar()"
        [src]="avatarMvpPath"
        alt=""
      />
      <span
        class="dice-icon"
        [class.shake]="randomizeCount < 10"
        (click)="randomizeAvatar()"
        [innerHTML]="svgIconsService.returnIcon('one_dice', 'dice')"
      ></span>
    </div>

    <button
      class="next"
      (click)="switchAvatar('next')"
    >
      <span [innerHTML]="svgIconsService.returnIcon('arrow_forward', 'direction-icon')"></span>
    </button>
  </div>

  <div class="avatar-actions">
    <button
      class="reset"
      (click)="resetAvatar()"
    >
      <span
        class="icon-container"
        [innerHTML]="svgIconsService.returnIcon('reset', 'action-icon')"
      ></span>
      <span class="text">Zurücksetzen</span>
    </button>

    <button
      class="save"
      (click)="saveAvatar()"
    >
      <span
        class="icon-container"
        [innerHTML]="svgIconsService.returnIcon('save', 'action-icon')"
      ></span>
      <span class="text">Speichern</span>
    </button>
  </div>
</section>
