@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  @include display-flex(stretch, start, column);
  flex-grow: 1;
  width: 100%;

  --list-element-min-height: #{px-to-rem(80)};
  --posts-list-gap: #{px-to-rem(25)};
  --post-list-page-gap: #{px-to-rem(25)};
  --pagination-height: #{px-to-rem(50)};
}

.posts-list-page {
  @include display-flex(stretch, start, column);
  flex-grow: 1;
  gap: var(--post-list-page-gap);

  .query-bar {
    @include display-flex(center, space-between);
    gap: px-to-rem(20);
    padding-inline: px-to-rem(50);
    background-color: var(--page-primary-color-100);
    border-radius: px-to-rem(15);

    width: 100%;

    .filter {
      @include display-flex(center, center);
      gap: px-to-rem(20);
    }

    .sort {
      @include display-flex(center, center);
      gap: px-to-rem(20);
    }
  }

  .posts-list {
    @include display-flex(stretch, start, column);
    flex-grow: 1;

    gap: var(--posts-list-gap);

    .statusMessage {
      padding: px-to-rem(25) px-to-rem(50);
    }
  }
}
