<section class="posts-list-page">
  <app-posts-list-filter-bar [filterValues]="filterValues"></app-posts-list-filter-bar>

  <div
    #postListContainer
    class="posts-list"
  >
    @if (postsList.length === 0) {
      <p class="statusMessage">{{ statusMessage ? statusMessage : 'Daten werden geladen...' }}</p>
    } @else {
      @for (post of postsList; track $index) {
        <app-post-list-element
          [context]="context"
          [endPoint]="endPoint"
          [post]="post"
          [selectedEntity]="selectedEntity"
          [selectedEntityValue]="selectedEntityValue"
          [selectedPostType]="selectedPostType"
        ></app-post-list-element>
      }
    }
  </div>
  <app-section-pagination
    #paginationRef
    [paginationInfo]="paginationInfo"
  ></app-section-pagination>
</section>
