@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.query-bar {
  @include display-flex(center, space-around);
  padding-inline: px-to-rem(50);
  gap: px-to-rem(50);

  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);

  height: px-to-rem(80);
  width: 100%;
  max-width: px-to-rem(2560);
}
