@let translatePath = 'PostList' + '.';

<section class="posts-list">
  <app-posts-list-filter-bar [filterValues]="filterValues"></app-posts-list-filter-bar>

  <div
    #postListContainer
    class="list"
  >
    @if (isLoading) {
      <app-loading [params]="{ element: (translatePath + 'posts' | translate) }"></app-loading>
    } @else if (postsList.length > 0) {
      @for (post of postsList; track $index) {
        <app-post-list-element
          [context]="context"
          [endPoint]="endPoint"
          [post]="post"
          [selectedEntity]="selectedEntity"
          [selectedEntityValue]="selectedEntityValue"
          [selectedPostType]="selectedPostType"
        ></app-post-list-element>
      }
    } @else {
      <app-no-results [params]="{ element: (translatePath + 'posts' | translate) }"></app-no-results>
    }
  </div>
  <app-section-pagination [paginationInfo]="paginationInfo"></app-section-pagination>
</section>
