@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  @include display-flex($align: stretch, $justify: start);
  flex-grow: 1;
  width: 100%;

  --content-max-width: #{var.$content-max-width};

  &.is-fluid {
    --content-max-width: 100%;
  }

  --list-element-min-height: #{px-to-rem(80)};
  --list-element-max-height: #{px-to-rem(80)};
  --posts-list-gap: #{px-to-rem(25)};
  --post-list-page-gap: #{px-to-rem(25)};

  @media (max-width: var.$breakpoint-md) {
    --list-element-min-height: #{px-to-rem(60)};
    --list-element-max-height: #{px-to-rem(60)};
    --posts-list-gap: #{px-to-rem(12.5)};
    --post-list-page-gap: #{px-to-rem(12.5)};
  }
}

.posts-list {
  @include display-flex($align: stretch, $justify: start, $direction: column, $gap: var(--post-list-page-gap));
  flex-grow: 1;

  width: 100%;
  max-width: var(--content-max-width);
  margin-inline: auto;

  .list {
    @include display-flex($align: stretch, $justify: start, $direction: column, $gap: var(--posts-list-gap));
    flex-grow: 1;
  }
}
