@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.checkbox-container {
  @include display-flex(center);
  gap: px-to-rem(10);

  .checkbox-text {
    @include display-flex(center, center);

    .terms,
    .privacy {
      margin-inline: 1ch;

      &:hover {
        cursor: pointer;
        color: var(--font-primary-color-50);
        transition: color var.$transition-duration-medium ease-in-out;
      }

      @include framed-link();

      &.privacy {
        margin-right: 0;
      }
    }
  }

  @include custom-check-box('.custom-checkbox');
}
