@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

.tags {
  @include display-flex(center);
  gap: px-to-rem(20);
  flex-wrap: wrap;

  .tag {
    @include button-preset();
    @include golden-ratio-padding(14);
    @include font-settings(14, 500);

    color: var(--font-primary-color-100);
    border-radius: px-to-rem(10);

    background-color: var(--font-primary-color-5);
    transition: background-color var.$transition-duration-medium ease-in-out;

    cursor: default;

    &.active:hover {
      cursor: pointer;
      background-color: var(--font-primary-color-10);
      transition: background-color var.$transition-duration-medium ease-in-out;
    }
  }
}
