@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  height: 100%;
}

.dropdown-component {
  @include display-flex($align: center, $justify: center, $direction: column);
  position: relative;
  height: 100%;

  .dropdown {
    @include display-flex($align: center, $gap: px-to-rem(10));
    cursor: pointer;

    button {
      @include button-preset();
      @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));

      :host(.left-aligned) & {
        justify-content: flex-start;
      }

      :host(.right-aligned) & {
        justify-content: flex-end;
      }

      width: px-to-rem(220);

      color: var(--font-primary-color-100);
      white-space: nowrap;

      .label {
        transition: color var.$transition-duration-medium ease-in-out;
        color: var(--font-primary-color-50);

        &:hover {
          cursor: pointer;
          color: var(--font-primary-color-100);
        }
      }

      .selected-value {
        @include singleline-ellipsis();
        color: var(--font-primary-color-100);

        &::first-letter {
          text-transform: uppercase;
        }
      }

      @include chevron-icon();
    }
  }

  @include dropdown-values($orientation: left, $width: max-content, $max-width: px-to-rem(300), $min-width: 60%);
  @include value-list-item($height: unset, $width: 100%);

  :host(.right-aligned) & {
    // Orientation right for the dropdown values
    .values {
      right: 0;
      left: auto;

      .value .name {
        text-align: right;
      }
    }
  }

  .values {
    border-top: 2px solid var(--font-primary-color-50);
  }
}
