@if (features != null && display != null && display.label != null && display.currentValue != null && mode != null) {
  @let parentTranslatePath = display.translatePath;
  @let translatePath = 'DropdownComponent' + '.';
  @let translatePathAriaLabel = translatePath + 'ariaLabel' + '.';

  <div
    class="dropdown-component"
    appClickOutsideDirective
    [clickOutsideEnabled]="showDropdownValues"
    (clickOutside)="closeDropdown()"
  >
    <div class="dropdown">
      <button
        type="button"
        [class.active]="filteredValues.length > 0"
        (click)="toggleDropdown()"
        [attr.aria-expanded]="showDropdownValues"
        [attr.aria-controls]="'filter-dropdown-menu' + '_' + display.label"
        aria-haspopup="listbox"
      >
        <span class="label">{{ parentTranslatePath + display.label | translate }}:</span>
        <span class="selected-value">
          {{ features.translateValues ? (parentTranslatePath + (selectedLabel ?? 'all') | translate) : (selectedLabel ?? (parentTranslatePath + 'all' | translate)) }}
        </span>
        <span
          class="chevron-icon"
          [class.active]="filteredValues.length > 0"
          [innerHTML]="svgIconsService.returnIcon('chevron')"
          [class.open]="showDropdownValues"
          aria-hidden="true"
        ></span>
      </button>
    </div>

    @if (showDropdownValues) {
      <div
        [id]="'filter-dropdown-menu' + '_' + display.label"
        class="values"
        [class.active]="showDropdownValues"
        [class.animated-in]="showAnimation"
        [class.animated-out]="!showAnimation"
        (animationend)="onAnimationEnd($event)"
        role="listbox"
      >
        @if (features.enableSearch) {
          <input
            #searchInput
            type="text"
            name="search"
            class="search-input"
            placeholder="Search.."
            (input)="filterFunction(searchInput.value)"
          />

          <span
            class="search-input-aria-count"
            aria-live="polite"
            >{{ showAriaCounter ? filteredValues.length + ' ' + (translatePathAriaLabel + 'results' | translate) : '' }}</span
          >
        }

        @if (display.currentValue !== '' && features.enableAllOption) {
          <button
            type="button"
            role="option"
            class="value"
            [title]="features.translateValues ? (parentTranslatePath + 'all' | translate) : 'all'"
            (click)="select('')"
          >
            <span class="name">{{ parentTranslatePath + 'all' | translate }}</span>

            @if (features.showCount) {
              <span class="count">{{ totalCount > 0 ? totalCount : '' }}</span>
            }
          </button>
        }
        @for (value of filteredValues; track $index) {
          <button
            type="button"
            role="option"
            class="value"
            [attr.aria-selected]="display.currentValue ? display.currentValue === value.name : false"
            [title]="features.translateValues ? (parentTranslatePath + value.name | translate) : value.name"
            (click)="select(value.name)"
          >
            <span class="name">{{ features.translateValues ? (parentTranslatePath + value.name | translate) : value.name }}</span>
            @if (features.showCount && value.total_counts) {
              <span class="count">{{ value.total_counts }}</span>
            }
          </button>
        }
      </div>
    }
  </div>
}
