<div class="dropdown-search">
  <label [for]="key + '-dropdown'">{{ label }}</label>
  <button
    [id]="key + '-dropdown'"
    type="button"
    (click)="toggleDropdown()"
    aria-haspopup="listbox"
  >
    {{ defaultValueLabel }}
  </button>
  @if (showDropdownValues) {
    <div
      class="dropdown-values"
      role="listbox"
    >
      @if (enableSearch) {
        <input
          type="text"
          placeholder="Search.."
          (input)="filterFunction($event.target.value)"
        />
      }

      @if (defaultValue !== '' && enableAllOption) {
        <button
          type="button"
          role="option"
          class="value"
          (click)="onSelect('')"
        >
          Alle
        </button>
      }
      @for (value of filteredValues; track $index) {
        <button
          type="button"
          role="option"
          class="value"
          (click)="onSelect(value.name)"
        >
          {{ value.name }} {{ value.total_counts ? value.total_counts : '' }}
        </button>
      }
    </div>
  }
</div>
