<div
  class="post-media-links-editor"
  (click)="$event.stopPropagation()"
>
  <header class="header">
    <h3 class="title">Media Links Editor</h3>
    <span
      class="icon"
      [innerHTML]="svgIconsService.returnIcon('close')"
      (click)="pushToControl()"
    ></span>
  </header>
  <div class="tabs">
    <button
      class="tab"
      [class.active]="currentType === 'images'"
      (click)="changeType('images')"
    >
      Images
      <span
        class="count"
        [class.active]="images.length > 0"
        >{{ images.length > 0 ? '(' + images.length + ')' : '' }}</span
      >
    </button>
    <button
      class="tab"
      [class.active]="currentType === 'videos'"
      (click)="changeType('videos')"
    >
      Videos
      <span
        class="count"
        [class.active]="videos.length > 0"
        >{{ videos.length > 0 ? '(' + videos.length + ')' : '' }}</span
      >
    </button>
    <button
      class="tab"
      [class.active]="currentType === 'resources'"
      (click)="changeType('resources')"
    >
      Resources
      <span
        class="count"
        [class.active]="resources.length > 0"
        >{{ resources.length > 0 ? '(' + resources.length + ')' : '' }}</span
      >
    </button>
  </div>
  <div class="content">
    @if (errors['error']) {
      <div class="badge">[!] {{ errors['error'] }}</div>
    } @else if (errors['info']) {
      <div class="badge dev-info">[i] {{ errors['info'] }}</div>
    }

    <div
      class="input-group badge-anchor"
      [class]="setErrorClass()"
    >
      <input
        class="input"
        type="text"
        name="newLink"
        [title]="'Add a new ' + currentType.slice(0, -1) + ' link'"
        [placeholder]="'Add a new ' + currentType.slice(0, -1) + ' link'"
        #newLink
        (keydown.enter)="pushToArray(newLink.value, null); newLink.value = ''"
      />
      <button
        class="add-button"
        [title]="'Add a new ' + currentType.slice(0, -1) + ' link'"
        (click)="pushToArray(newLink.value, null); newLink.value = ''"
        [innerHTML]="svgIconsService.returnIcon('add_media_links')"
      ></button>
    </div>

    @for (input of currentArray; track $index) {
      <div class="input-group">
        <input
          class="input"
          type="text"
          name="link-{{ $index }}"
          [maxLength]="2048"
          [title]="input"
          (keydown.enter)="pushToArray($event.target.value, $index)"
          [value]="input"
        />
        <button
          class="remove-button"
          (click)="removeFromArray($index)"
          title="Delete this link"
          [innerHTML]="svgIconsService.returnIcon('delete_media_links')"
        ></button>
      </div>
    }
  </div>
</div>
