@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

:host(.overlay) {
  @include display-flex(center, center);
  @include absolute-overlay($animation-style: fade);
}

.post-media-links-editor {
  @include display-flex($direction: column);

  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);
  padding: px-to-rem(25) px-to-rem(50) px-to-rem(50) px-to-rem(50);

  max-width: 50%;
  min-width: 50%;

  min-height: px-to-rem(400);
  max-height: px-to-rem(400);

  @include modal-header();

  .tabs {
    @include display-flex(center, start);
    gap: px-to-rem(25);

    margin-top: px-to-rem(45);
    margin-bottom: px-to-rem(5);

    .tab {
      @include button-preset();
      @include display-flex(center, center);
      color: var(--font-primary-color-50);
      position: relative;

      cursor: pointer;

      @include status-dot($selector: '.active', $top: -14px);

      &.active {
        color: var(--font-primary-color-100);
      }

      .count {
        visibility: hidden;
        margin-left: px-to-rem(5);
        min-width: 4ch;

        &.active {
          visibility: visible;
        }
      }
    }
  }

  .content {
    @include display-flex(center, start, column);
    overflow-y: auto;
    padding-right: px-to-rem(10);

    flex-grow: 1;

    scrollbar-width: thin;
    scrollbar-color: rgb(60, 60, 60) transparent;

    .input-group {
      @include display-flex(center, center);
      gap: px-to-rem(15);
      width: 100%;

      .input {
        padding: px-to-rem(10) px-to-rem(15);
        margin-block: px-to-rem(10);
        border-radius: px-to-rem(5);
        border: none;
        height: px-to-rem(30);

        min-width: 0;
        width: 100%;

        transition: box-shadow var.$transition-duration-fast ease;

        &:focus {
          outline: none;
          box-shadow: 0 0 px-to-rem(8) var(--font-primary-color-50);
        }
      }

      .remove-button,
      .add-button {
        @include button-preset();
        @include display-flex(center, center);

        cursor: pointer;

        &::ng-deep .delete_media_links,
        &::ng-deep .add_media_links {
          width: px-to-rem(20);
          height: px-to-rem(20);
          fill: var(--font-primary-color-50);
        }

        //TODO Fix color later use variable
        &:hover {
          &::ng-deep .delete_media_links {
            fill: darkred;
            transition: fill var.$transition-duration-medium ease-in-out;
          }

          &::ng-deep .add_media_links {
            fill: darkgreen;
            transition: fill var.$transition-duration-medium ease-in-out;
          }
        }
      }
    }

    .badge-anchor {
      margin-top: px-to-rem(30);
    }

    &:has(.badge-anchor.dev-info) {
      @include info-compiler-badge('.badge-anchor', $top: 0px, $left: 0px);
    }

    &:not(:has(.badge-anchor.dev-info)) {
      @include error-compiler-badge('.badge-anchor', $top: 0px, $left: 0px);
    }
  }
}
