<article class="post">
  <header class="header">
    <div class="system-bar">
      <div class="version-info">
        <time class="created-at">{{ post.created_at | date: 'mediumDate' }}</time>
        <span class="separator">|</span>
        <span class="entitye">{{ selectedEntityValue }}</span>
        <span class="separator">|</span>
        <span class="post-type">{{ selectedPostType }}</span>
        <span class="separator">|</span>
        <span class="category">{{ post.category }}</span>
        <span
          class="chevron-icon"
          [class.open]="false"
          [innerHTML]="svgIconsService.returnIcon('chevron')"
        ></span>
      </div>

      <div class="report">
        <span>Melden</span>
        <span
          class="chevron-icon"
          [class.open]="false"
          [innerHTML]="svgIconsService.returnIcon('chevron')"
        ></span>
      </div>
    </div>

    <div class="info-bar">
      <div class="user">
        <div class="avatar">
          <img
            src="/avatar-items/placeholder.webp"
            alt="placeholder"
          />
        </div>
        <!-- @for (avatarItem of avatarItemsEntries(); track $index) {
          <div>
            @if (avatarItem.url) {
              <img
                [src]="avatarItem.url"
                [alt]="avatarItem.key"
                [class]="avatarItem.key"
              />
            }
          </div>
        } -->
        <span class="display-name">{{ post.user?.display_name }}</span>
      </div>

      <div class="engagement">
        <div class="likes">
          <p>{{ post.likes_count }}</p>
          <span
            class="icon"
            [innerHTML]="svgIconsService.returnIcon('like')"
          ></span>
        </div>

        <div class="favorites">
          <p>{{ post.favorite_count }}</p>
          <span
            class="icon"
            [innerHTML]="svgIconsService.returnIcon('favorite')"
          ></span>
        </div>

        <div class="shares">
          <span
            class="icon"
            [innerHTML]="svgIconsService.returnIcon('share')"
          ></span>
        </div>
      </div>
    </div>
  </header>

  <section class="content">
    <h2 class="title">{{ post.title }} (ID: {{ post.id }})</h2>

    <p class="description">{{ post.description }}</p>

    <div class="code-container">
      <button
        class="copy-button"
        [innerHTML]="svgIconsService.returnIcon('copy')"
      ></button>
      <pre><code>{{ post.code }}</code></pre>
    </div>
  </section>
  <footer class="footer">
    <div class="footer-meta">
      <div class="tech-stack">
        <div class="languages">
          @for (language of post.languages; track $index) {
            <span
              class="language"
              [title]="language.name"
              [innerHTML]="svgIconsService.returnIcon(language.name)"
            ></span>
          }
        </div>

        <div class="technologies">
          @for (technology of post.technologies; track $index) {
            <span
              class="technology"
              [title]="technology.name"
              [innerHTML]="svgIconsService.returnIcon(technology.name)"
            ></span>
          }
        </div>
      </div>

      <div class="media-links">
        <span
          [title]="'Bilder'"
          [innerHTML]="svgIconsService.returnIcon('image')"
        ></span>
        <span
          [title]="'Video'"
          [innerHTML]="svgIconsService.returnIcon('video')"
        ></span>
        <span
          [title]="'Ressourcen'"
          [innerHTML]="svgIconsService.returnIcon('resources')"
        ></span>
      </div>
    </div>

    <span class="line-break"></span>
    <div class="tags">
      @for (tag of post.tags; track $index) {
        <button class="tag">{{ tag.name }}</button>
      }

      <!-- Duplicate buttons for demonstration purposes -->
      @for (tag of post.tags; track $index) {
        <button class="tag">{{ tag.name }}</button>
      }
      @for (tag of post.tags; track $index) {
        <button class="tag">{{ tag.name }}</button>
      }
      @for (tag of post.tags; track $index) {
        <button class="tag">{{ tag.name }}</button>
      }
    </div>
  </footer>
</article>

<!-- For testing purposes -->

<br /><br /><br /><br />

<p><strong>Post-Typ:</strong> {{ post.post_type }}</p>

<p><strong>Status:</strong> {{ post.status }}</p>

<p><strong>Kommentare:</strong> {{ post.comments_count }}</p>

<p><strong>Aktualisiert von Rolle:</strong> {{ post.updated_by_role }}</p>

<p><strong>Kommentare aktualisiert am:</strong> {{ post.comments_updated_at }}</p>

<br /><br />

<div>
  <strong>Bilder:</strong>
  @for (image of post.images; track $index) {
    <br />
    {{ image }}
  }
</div>
<br />
<div>
  <strong>Videos:</strong>
  @for (video of post.videos; track $index) {
    <br />
    {{ video }}
  }
</div>
<br />
<div>
  <strong>Ressourcen:</strong>
  @for (resource of post.resources; track $index) {
    <br />
    {{ resource }}
  }
</div>
<br />
<div>
  <strong>External Source Previews:</strong>
  @for (externalSourcePreview of post.external_source_previews; track $index) {
    <br />
    <span>{{ externalSourcePreview.type }} || </span>
    <span>{{ externalSourcePreview.url }} || </span>
    <span>{{ externalSourcePreview.domain }}</span>
  }
</div>
<br />

<br />
<div><strong>History:</strong>{{ post.history }}</div>
<br />
<div><strong>Moderation Info:</strong>{{ post.moderation_info }}</div>
