<article class="post">
  <header class="header">
    <div class="system-bar">
      <div class="version-info">
        <!-- Temporary version dropdown for testing purposes -->
        <div class="version-dropdown">
          <div
            class="version-display"
            (click)="toggleDropdown()"
          >
            <time class="updated_at">{{ currentPost.updated_at | localDate }}</time>
            <span
              class="chevron-icon"
              [class.open]="showDropdownValues"
              [innerHTML]="svgIconsService.returnIcon('chevron')"
            ></span>
          </div>

          <div
            class="values"
            [class.active]="showDropdownValues"
            [class.animated-in]="showAnimation"
            [class.animated-out]="!showAnimation"
            (animationend)="onAnimationEnd($event)"
            role="listbox"
          >
            @for (postVersionsValue of postVersionsValues; track $index) {
              @if (postVersionsValue.label !== (currentPost.updated_at | localDate)) {
                <button
                  class="value"
                  (click)="onSelect(postVersionsValue.value); toggleDropdown()"
                >
                  {{ postVersionsValue.label }}
                </button>
              }
            }
          </div>
        </div>

        <span class="separator">|</span>
        <span class="entitye">{{ selectedEntityValue }}</span>
        <span class="separator">|</span>
        <span class="post-type">{{ selectedPostType }}</span>
        <span class="separator">|</span>
        <span class="category">{{ currentPost.category }}</span>
      </div>

      <div class="report">
        <span>Melden</span>
        <span
          class="chevron-icon"
          [class.open]="false"
          [innerHTML]="svgIconsService.returnIcon('chevron')"
        ></span>
      </div>
    </div>

    <div class="info-bar">
      <div class="user">
        <div class="avatar">
          <img
            src="/avatar-items/placeholder.webp"
            alt="placeholder"
          />
        </div>
        <!-- @for (avatarItem of avatarItemsEntries(); track $index) {
          <div>
            @if (avatarItem.url) {
              <img
                [src]="avatarItem.url"
                [alt]="avatarItem.key"
                [class]="avatarItem.key"
              />
            }
          </div>
        } -->
        <span class="display-name">{{ currentPost.user?.display_name }}</span>
      </div>

      <div class="engagement">
        <div class="likes">
          <p>{{ currentPost.likes_count }}</p>
          <span
            class="icon"
            [innerHTML]="svgIconsService.returnIcon('like')"
          ></span>
        </div>

        <div class="favorites">
          <p>{{ currentPost.favorite_count }}</p>
          <span
            class="icon"
            [innerHTML]="svgIconsService.returnIcon('favorite')"
          ></span>
        </div>

        <div class="shares">
          <span
            class="icon"
            [innerHTML]="svgIconsService.returnIcon('share')"
          ></span>
        </div>
      </div>
    </div>
  </header>

  <section class="content">
    <h2 class="title">{{ currentPost.title }} (ID: {{ currentPost.id }})</h2>

    <p class="description">{{ currentPost.description }}</p>

    <div class="code-container">
      <button
        class="copy-button"
        [innerHTML]="svgIconsService.returnIcon('copy')"
      ></button>
      <pre><code>{{ currentPost.code }}</code></pre>
    </div>
  </section>
  <footer class="footer">
    <div class="footer-meta">
      <div class="tech-stack">
        <div class="languages">
          @for (language of currentPost.languages; track $index) {
            <span
              class="language"
              [title]="language.name"
              [innerHTML]="svgIconsService.returnIcon(language.name)"
            ></span>
          }
        </div>

        <div class="technologies">
          @for (technology of currentPost.technologies; track $index) {
            <span
              class="technology"
              [title]="technology.name"
              [innerHTML]="svgIconsService.returnIcon(technology.name)"
            ></span>
          }
        </div>
      </div>

      <div class="media-links">
        <span
          [title]="'Bilder'"
          [innerHTML]="svgIconsService.returnIcon('image')"
        ></span>
        <span
          [title]="'Video'"
          [innerHTML]="svgIconsService.returnIcon('video')"
        ></span>
        <span
          [title]="'Ressourcen'"
          [innerHTML]="svgIconsService.returnIcon('resources')"
        ></span>
      </div>
    </div>

    <span class="line-break"></span>
    <div class="tags">
      @for (tag of currentPost.tags; track $index) {
        <button class="tag">{{ tag.name }}</button>
      }

      <!-- Duplicate buttons for demonstration purposes -->
      @for (tag of currentPost.tags; track $index) {
        <button class="tag">{{ tag.name }}</button>
      }
      @for (tag of currentPost.tags; track $index) {
        <button class="tag">{{ tag.name }}</button>
      }
      @for (tag of currentPost.tags; track $index) {
        <button class="tag">{{ tag.name }}</button>
      }
    </div>
  </footer>
</article>

<!-- For testing purposes -->

<br /><br /><br /><br />

<p><strong>Post-Typ:</strong> {{ currentPost.post_type }}</p>

<p><strong>Status:</strong> {{ currentPost.status }}</p>

<p><strong>Kommentare:</strong> {{ currentPost.comments_count }}</p>

<p><strong>Aktualisiert von Rolle:</strong> {{ currentPost.updated_by_role }}</p>

<p><strong>Kommentare aktualisiert am:</strong> {{ currentPost.comments_updated_at }}</p>

<br /><br />

<div>
  <strong>Bilder:</strong>
  @for (image of currentPost.images; track $index) {
    <br />
    {{ image }}
  }
</div>
<br />
<div>
  <strong>Videos:</strong>
  @for (video of currentPost.videos; track $index) {
    <br />
    {{ video }}
  }
</div>
<br />
<div>
  <strong>Ressourcen:</strong>
  @for (resource of currentPost.resources; track $index) {
    <br />
    {{ resource }}
  }
</div>
<br />
<div>
  <strong>External Source Previews:</strong>
  @for (externalSourcePreview of currentPost.external_source_previews; track $index) {
    <br />
    <span>{{ externalSourcePreview.type }} || </span>
    <span>{{ externalSourcePreview.url }} || </span>
    <span>{{ externalSourcePreview.domain }}</span>
  }
</div>
<br />

<br />
<div><strong>History:</strong>{{ currentPost.history }}</div>
<br />
<div><strong>Moderation Info:</strong>{{ currentPost.moderation_info }}</div>
