<article class="post">
  <header class="header">
    <div class="system-bar">
      <div class="version">
        <app-post-version-dropdown
          [post]="currentPost"
          (versionSelected)="onSelect($event)"
        ></app-post-version-dropdown>

        @if (selectedEntityValue) {
          <span class="entitye">{{ selectedEntityValue }}</span>
          <span class="separator">|</span>
        }

        @if (selectedPostType) {
          <span class="post-type">{{ selectedPostType }}</span>
          <span class="separator">|</span>
        }

        @if (currentPost.category) {
          <span class="category">{{ currentPost.category }}</span>
          <span class="separator">|</span>
        }
      </div>

      @if (isOwner(currentPost)) {
        <app-post-settings-dropdown
          class="absolute-top-right"
          (modeChange)="modeChange.emit($event)"
        ></app-post-settings-dropdown>
      } @else {
        <app-report-button
          [showLabel]="true"
          (openReportModal)="openReportModal()"
        ></app-report-button>
      }
    </div>

    <div class="info-bar">
      @if (currentPost.user) {
        <app-user-badge
          [user]="currentPost.user"
          [userBadgeContext]="'post'"
          [menuActive]="true"
        ></app-user-badge>
      }

      <app-post-engagement [post]="currentPost"></app-post-engagement>
    </div>
  </header>

  <section class="content">
    <h2 class="title">{{ currentPost.title }}</h2>
    <p class="description">{{ currentPost.description }}</p>
    @if (currentPost.code && currentPost.code.trim() !== '') {
      <app-post-code
        [language]="selectedEntityValue"
        [code]="currentPost.code"
      ></app-post-code>
    }
  </section>

  <footer class="footer">
    <div class="footer-meta">
      <app-post-tech-stack
        [context]="context"
        [endPoint]="endPoint"
        [selectedPostType]="selectedPostType"
        [languages]="currentPost.languages ?? []"
        [technologies]="currentPost.technologies ?? []"
      ></app-post-tech-stack>

      <app-post-media-links
        [externalSourcePreviews]="currentPost.external_source_previews ?? []"
        (openResourceModalEvent)="openResourceModal($event)"
      ></app-post-media-links>
    </div>

    <span class="line-break"></span>

    <app-post-tags
      [context]="context"
      [endPoint]="endPoint"
      [selectedEntity]="selectedEntity"
      [selectedEntityValue]="selectedEntityValue"
      [selectedPostType]="selectedPostType"
      [tags]="currentPost.tags ?? []"
    ></app-post-tags>
  </footer>

  @if (isPostResourceModalOpen) {
    <app-post-resource-modal
      class="overlay"
      [class.open]="isPostResourceModalAnimating"
      [class.closed]="!isPostResourceModalAnimating"
      (click)="closeResourceModal()"
      (animationend)="onAnimationEnd($event)"
      [modalData]="currentPostModal"
      (closeModal)="closeResourceModal()"
    ></app-post-resource-modal>
  }

  @if (isReportModalOpen) {
    <app-report-modal
      class="overlay"
      [class.open]="isReportModalAnimating"
      [class.closed]="!isReportModalAnimating"
      (click)="closeReportModal()"
      (animationend)="onAnimationEnd($event)"
      [reportContext]="'post'"
      [reportId]="currentPost.id"
      (closeModal)="closeReportModal()"
    ></app-report-modal>
  }
</article>
