<div
  class="code-container"
  [class.expanded]="isExpanded"
>
  <div
    class="code-header"
    (click)="control ? setViewMode(false) : null"
  >
    <button
      class="copy-button"
      [class.copied]="isCopied"
      [class.copy-failed]="copiedFailed"
      (mousedown)="copyToClipboard(code); $event.preventDefault()"
      [innerHTML]="svgIconsService.returnIcon('copy')"
    ></button>
    <button
      class="expand-collapse-button"
      (mousedown)="toggleExpanded(); $event.preventDefault()"
      [innerHTML]="svgIconsService.returnIcon(isExpanded ? 'collapse' : 'expand')"
    ></button>
  </div>

  @if (isViewMode) {
    <pre (click)="control ? setViewMode(false) : null"><code #codeElement [class]="language | prismLanguage" [class.empty]="!code">{{ code ? code : 'Code hier eingeben' }}</code></pre>
  } @else {
    @if (control) {
      <textarea
        (blur)="setViewMode(true)"
        class="code-textarea"
        [placeholder]="'Code hier eingeben'"
        name="code-textarea"
        #codeTextarea
        (input)="adjustHeight()"
        type="text"
        [formControl]="control"
      ></textarea>
    }
  }
</div>
