@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

.legal-mobile {
  @include display-flex($direction: column);

  .links {
    @include display-flex($align: center, $justify: center, $gap: px-to-rem(50));
    @include position($position: sticky, $top: 0);
    width: 100%;
    background-color: var(--background-color-100);
    padding: px-to-rem(20) 0;

    @media (max-width: var.$breakpoint-md) {
      @include display-flex($align: center, $justify: center, $direction: column, $gap: px-to-rem(10));
    }
  }

  .content {
    @include display-flex($direction: column);
  }
}
