@if (post) {
  <article
    class="post-list-element"
    [routerLink]="['/post', post.id]"
    [queryParams]="{
      context: context,
      endPoint: endPoint,
      selectedEntity: selectedEntity,
      selectedEntityValue: selectedEntityValue,
      selectedPostType: selectedPostType,
    }"
  >
    <div class="left-section">
      <h3 class="title">{{ post.title }}</h3>

      <div class="metadata">
        <time
          class="date"
          [attr.datetime]="post.updated_at"
          >{{ post.updated_at | date: 'mediumDate' }}</time
        >
        <span class="category"> | {{ post.category }}</span>
      </div>
    </div>

    <div class="right-section">
      <div class="engagement-metrics">
        <div class="metric">
          <span class="count">{{ post.comments_count }}</span>
          <span
            class="icon-container"
            [innerHTML]="svgIconsService.returnIcon('comment', 'metric-icon')"
            aria-hidden="true"
          ></span>
        </div>
        <div class="metric">
          <span class="count">{{ post.likes_count }}</span>
          <span
            class="icon-container"
            [innerHTML]="svgIconsService.returnIcon('like', 'metric-icon')"
            aria-hidden="true"
          ></span>
        </div>

        @if (post.status && endPoint === 'USER_POSTS') {
          <div class="status">
            <span
              class="status-icon"
              [class]="post.status"
              [innerHTML]="svgIconsService.returnIcon(post.status + '_posts', 'status-icon')"
              aria-hidden="true"
            ></span>
          </div>
        }
      </div>
    </div>
  </article>
}
