@use '../functions' as *;
@use '../var' as var;
@use '../mixins' as *;

.app-container {
  @include max-content-settings();
  @include display-flex(space-between, start, column);
  min-height: 100vh;

  .header {
    flex: 0;
  }

  .content {
    @include display-flex(start, start, column);
    flex-grow: 1;
  }

  .footer {
    flex: 0;
  }
}
