@use '../functions' as *;
@use '../var' as var;
@use '../mixins' as *;

.app-container {
  @include max-content-settings();
  @include display-flex($direction: column);

  min-height: 100vh;

  .header {
    flex: 0;
  }

  .content {
    @include display-flex($direction: column);
    flex-grow: 1;
    padding-block: px-to-rem(25);
  }

  .footer-container {
    @include position($position: sticky, $bottom: 0);

    .mobile-menu {
      height: px-to-rem(48);
      max-height: px-to-rem(48);
    }

    .footer {
      flex: 0;
    }
  }
}
