<div class="tech-stack">
  @if (languages.length > 0) {
    <div class="languages">
      @for (language of languages; track language.id) {
        <button
          class="language"
          role="button"
          [title]="language.name"
          [innerHTML]="svgIconsService.returnIcon(language.name)"
          (click)="searchPlaceholderFunction(language)"
        ></button>
      }
    </div>
  }

  @if (technologies.length > 0) {
    <div class="technologies">
      @for (technology of technologies; track technology.id) {
        <button
          class="technology"
          role="button"
          [title]="technology.name"
          [innerHTML]="svgIconsService.returnIcon(technology.name)"
          (click)="searchPlaceholderFunction(technology)"
        ></button>
      }
    </div>
  }
</div>
