@if (postForm !== null && (mode === 'create' || mode === 'edit') && currentUser !== null) {
  <article
    class="post"
    [formGroup]="postForm"
  >
    <header class="header">
      <div class="system-bar">
        <div class="version">
          <time class="currentDate"> {{ currentDate | localDate }}</time>

          <span class="separator">|</span>

          <app-query-params-dropdown
            class="post-from-dropdown"
            [mode]="'Component'"
            [label]="'Beitragstyp'"
            [defaultValueLabel]="getDefaultValue('post_type', 'Beitragstyp')"
            [defaultValue]="getDefaultValue('post_type', '')"
            [enableSearch]="false"
            [endPoint]="'POST_ALLOWED_VALUES'"
            [params]="getAllowedValuesParams('post_type')"
            (selectionChange)="patchDropdownValues($event, 'post_type')"
          ></app-query-params-dropdown>

          <span class="separator">|</span>

          <app-query-params-dropdown
            class="post-from-dropdown"
            [mode]="'Component'"
            [label]="'Category'"
            [defaultValueLabel]="getDefaultValue('category', 'Category')"
            [defaultValue]="getDefaultValue('category', '')"
            [enableSearch]="true"
            [endPoint]="'POST_ALLOWED_VALUES'"
            [params]="getAllowedValuesParams('category')"
            (selectionChange)="patchDropdownValues($event, 'category')"
          ></app-query-params-dropdown>

          <span class="separator">|</span>

          <app-query-params-dropdown
            class="post-from-dropdown"
            [mode]="'Component'"
            [showCount]="false"
            [label]="'Syntax'"
            [key]="'entityValue'"
            [enableSearch]="true"
            [endPoint]="'POST_ALLOWED_VALUES'"
            [defaultValueLabel]="getDefaultValue('syntax_highlighting', 'Syntax')"
            [defaultValue]="getDefaultValue('syntax_highlighting', '')"
            [params]="['?filter[type]=language&select=count:name']"
            (selectionChange)="patchDropdownValues($event, 'syntax_highlighting')"
          ></app-query-params-dropdown>
        </div>

        <app-query-params-dropdown
          class="right-aligned post-from-dropdown"
          [mode]="'Component'"
          [label]="'Status'"
          [defaultValueLabel]="getDefaultValue('status', 'Status')"
          [defaultValue]="getDefaultValue('status', '')"
          [enableSearch]="false"
          [endPoint]="'POST_ALLOWED_VALUES'"
          [params]="getAllowedValuesParams('status')"
          (selectionChange)="patchDropdownValues($event, 'status')"
        ></app-query-params-dropdown>
      </div>

      <div class="info-bar">
        <app-user-badge
          [user]="currentUser"
          [userBadgeContext]="'post'"
          [menuActive]="true"
        ></app-user-badge>

        <app-post-engagement
          [post]="mode === 'edit' ? post : null"
          [isViewMode]="false"
        ></app-post-engagement>
      </div>
    </header>

    <section class="content">
      <div class="title-wrapper">
        <input
          class="title-input"
          [placeholder]="'Beitragstitel hier eingeben'"
          name="title-input"
          type="text"
          formControlName="title"
        />
      </div>

      <app-post-description
        [control]="getControl('description')"
        [isViewMode]="false"
      ></app-post-description>

      <app-post-code
        [language]="getControl('syntax_highlighting')?.value ?? null"
        [code]="postFormCode"
        [control]="getControl('code')"
        (viewModeChange)="postFormCode = getControl('code')?.value"
      ></app-post-code>
    </section>

    <footer class="footer">
      <div class="footer-meta">
        <div class="tech-stack-section">
          @if (getControl('languages')?.value.length > 0 || getControl('technologies')?.value.length > 0) {
            <app-post-tech-stack
              [isViewMode]="false"
              [languages]="getControl('languages')?.value ?? []"
              [technologies]="getControl('technologies')?.value ?? []"
            ></app-post-tech-stack>
          }
          <button
            class="add-tech-stack-button"
            type="button"
            [title]="'Tech Stack hinzufügen'"
            [innerHTML]="svgIconsService.returnIcon('add_tech_stack')"
            (click)="openTechStackModal()"
          ></button>

          @if (getControl('languages')?.value.length === 0 && getControl('technologies')?.value.length === 0) {
            <span
              class="add-tech-stack-label"
              (click)="openTechStackModal()"
              >Tech Stacks hinzufügen</span
            >
          }
        </div>

        <div class="media-links-section">
          @if (getControl('images')?.value.length === 0 && getControl('videos')?.value.length === 0 && getControl('resources')?.value.length === 0) {
            <span
              class="add-media-links-label"
              (click)="openMediaLinksEditorModal('images')"
              [title]="'Medienlinks hinzufügen'"
              >Medienlinks hinzufügen</span
            >
          }
          <button
            class="add-media-links-button"
            type="button"
            [title]="'Medienlinks hinzufügen'"
            [innerHTML]="svgIconsService.returnIcon('add_media_links')"
            (click)="openMediaLinksEditorModal('images')"
          ></button>
          <app-post-media-links
            [externalSource]="externalSource()"
            (openResourceModalEvent)="openMediaLinksEditorModal($event)"
          ></app-post-media-links>
        </div>
      </div>

      <span class="line-break"></span>

      <div class="footer-sub">
        <div class="tags-section">
          @if (getControl('tags')?.value.length > 0) {
            <app-post-tags
              [tags]="getControl('tags')?.value"
              [isViewMode]="false"
            ></app-post-tags>
          }

          <button
            class="add-tags-button"
            type="button"
            [innerHTML]="svgIconsService.returnIcon('add_tags')"
            [title]="'Tags hinzufügen'"
            (click)="openTagsModal()"
          ></button>
          @if (getControl('tags')?.value.length === 0) {
            <span
              class="add-tags-label"
              (click)="openTagsModal()"
              >Tags hinzufügen</span
            >
          }
        </div>

        <div class="action-buttons">
          <button
            type="button"
            class="reset-button"
            (click)="resetForm()"
          >
            <span [innerHTML]="svgIconsService.returnIcon('action_reset')"></span> Verwerfen
          </button>

          <button
            type="button"
            class="cancel-button"
            (click)="switchMode('view')"
          >
            <span [innerHTML]="svgIconsService.returnIcon('action_cancel')"></span> Abbrechen
          </button>

          <span class="separator">|</span>

          <button
            class="save-button"
            type="button"
            [disabled]="isProcessing"
            (click)="onSubmit()"
          >
            <span [innerHTML]="svgIconsService.returnIcon('action_save')"></span> {{ mode === 'create' ? 'Erstellen' : 'Speichern' }}
          </button>
        </div>
      </div>
    </footer>

    <!-- Modals -->

    <app-post-tech-stack-selector
      class="overlay"
      #techStackSelector
      [class.hidden]="!isTechStackSelectorModalOpen"
      [openModal]="isTechStackSelectorModalOpen"
      [class.open]="isTechStackSelectorModalAnimating"
      [class.closed]="!isTechStackSelectorModalAnimating"
      (click)="techStackSelector.pushToControl()"
      (animationend)="onAnimationEnd($event)"
      (closeModal)="closeTechStackModal()"
      [endPoint]="'POST_ALLOWED_VALUES'"
      [params]="['?filter[type]=technology,language&select=count:name']"
      [controlLanguages]="getControl('languages')"
      [controlTechnologies]="getControl('technologies')"
      [enableSearch]="true"
    ></app-post-tech-stack-selector>

    <!-- Modal für Media Links (Images, Videos, Resources) 
       Im Modal können die Links eingegeben und verwaltet werden.
       Nach eingabe vom ersten Link, erscheint ein weiteres Feld für den nächsten Link usw.
       Es können beliebig viele Links hinzugefügt werden-->
    @if (isMediaLinksEditorModalOpen) {
      <app-post-media-links-editor
        class="overlay"
        #mediaLinksEditor
        [class.hidden]="!isMediaLinksEditorModalOpen"
        [class.open]="isMediaLinksEditorModalAnimating"
        [class.closed]="!isMediaLinksEditorModalAnimating"
        (click)="mediaLinksEditor.pushToControl()"
        (animationend)="onAnimationEnd($event)"
        (closeModal)="closeMediaLinksEditorModal()"
        [type]="mediaLinksEditorType"
        [imagesControl]="getControl('images')"
        [videosControl]="getControl('videos')"
        [resourcesControl]="getControl('resources')"
      ></app-post-media-links-editor>
    }

    <!-- Modal für tags. Im Modal können die Tags eingegeben und verwaltet werden.
        Es können beliebig viele Tags hinzugefügt werden-->
    <app-post-tags-editor
      class="overlay"
      #tagsEditor
      [class.hidden]="!isTagsModalOpen"
      [openModal]="isTagsModalOpen"
      [class.open]="isTagsModalAnimating"
      [class.closed]="!isTagsModalAnimating"
      (click)="tagsEditor.pushToControl()"
      (animationend)="onAnimationEnd($event)"
      (closeModal)="closeTagsModal()"
      [endPoint]="'POST_ALLOWED_VALUES'"
      [params]="['?filter[type]=tag&select=count:name']"
      [specificCategory]="getControl('category')?.value ?? null"
      [control]="getControl('tags')"
      [enableSearch]="true"
    ></app-post-tags-editor>
  </article>
} @else {
  <p>Loading...</p>
}
