@if (postForm !== null && (mode === 'create' || mode === 'edit') && currentUser !== null) {
  <article
    class="post"
    [formGroup]="postForm"
  >
    <header class="header">
      <div class="system-bar">
        <div class="version">
          <time class="currentDate"> {{ currentDate | localDate }}</time>

          <span class="separator">|</span>

          <app-query-params-dropdown
            class="post-from-dropdown"
            [mode]="'Component'"
            [label]="'Beitragstyp'"
            [defaultValueLabel]="getDefaultValue('post_type', 'Beitragstyp')"
            [defaultValue]="getDefaultValue('post_type', '')"
            [enableSearch]="false"
            [endPoint]="'POST_ALLOWED_VALUES'"
            [params]="getAllowedValuesParams('post_type')"
            (selectionChange)="patchDropdownValues($event, 'post_type')"
          ></app-query-params-dropdown>

          <span class="separator">|</span>

          <app-query-params-dropdown
            class="post-from-dropdown"
            [mode]="'Component'"
            [label]="'Category'"
            [defaultValueLabel]="getDefaultValue('category', 'Category')"
            [defaultValue]="getDefaultValue('category', '')"
            [enableSearch]="true"
            [endPoint]="'POST_ALLOWED_VALUES'"
            [params]="getAllowedValuesParams('category')"
            (selectionChange)="patchDropdownValues($event, 'category')"
          ></app-query-params-dropdown>

          <span class="separator">|</span>
        </div>

        <app-query-params-dropdown
          class="right-aligned post-from-dropdown"
          [mode]="'Component'"
          [label]="'Status'"
          [defaultValueLabel]="getDefaultValue('status', 'Status')"
          [defaultValue]="getDefaultValue('status', '')"
          [enableSearch]="false"
          [endPoint]="'POST_ALLOWED_VALUES'"
          [params]="getAllowedValuesParams('status')"
          (selectionChange)="patchDropdownValues($event, 'status')"
        ></app-query-params-dropdown>
      </div>

      <div class="info-bar">
        <app-user-badge
          [user]="currentUser"
          [userBadgeContext]="'post'"
          [menuActive]="true"
        ></app-user-badge>

        <app-post-engagement
          [post]="mode === 'edit' ? post : null"
          [isViewMode]="false"
        ></app-post-engagement>
      </div>
    </header>

    <section class="content">
      <div class="title-wrapper">
        <input
          class="title-input"
          name="title-input"
          type="text"
          formControlName="title"
        />
      </div>

      <app-post-description
        [control]="getControl('description')"
        [isViewMode]="false"
      ></app-post-description>

      <!-- TODO replace the [language]="'php'" with dynamic value. -->
      <!-- TODO Create a new field in the database for the primary language of the post and use this value to set the language for the code editor. -->
      <app-post-code
        [language]="'php'"
        [code]="postFormCode"
        [control]="getControl('code')"
        (viewModeChange)="postFormCode = getControl('code')?.value"
      ></app-post-code>
    </section>

    <footer class="footer">
      <div class="footer-meta">
        <div class="tech-stack-section">
          <app-post-tech-stack
            [isViewMode]="false"
            [languages]="getControl('languages')?.value ?? []"
            [technologies]="getControl('technologies')?.value ?? []"
          ></app-post-tech-stack>

          <button
            class="add-tech-stack-button"
            type="button"
            [innerHTML]="svgIconsService.returnIcon('add_tech_stack')"
            (click)="openTechStackModal()"
          ></button>
        </div>

        <!-- Modal für Tech Stack (Sprachen/Frameworks und Tools) 
       Im Modal sind die Sprachen/Frameworks und Tools mit Icon und Name aufgelistet,
      die der Nutzer auswählen kann. Es können mehrere Sprachen/Frameworks und Tools ausgewählt werden.        
       -->

        <!-- Modal für Media Links (Images, Videos, Resources) 
       Im Modal können die Links eingegeben und verwaltet werden.
       Nach eingabe vom ersten Link, erscheint ein weiteres Feld für den nächsten Link usw.
       Es können beliebig viele Links hinzugefügt werden-->
      </div>

      <span class="line-break"></span>
      <!-- Formularfeld für Tags, nach Bestätigung wird der tag gleich anzeigt, es können auch mehre tags auf einmal angeben werden.  
     Example: Angular, JavaScript, Webentwicklung, etc.
     -->

      <!-- Buttons für Speichern, Veröffentlichen, Abbrechen -->
      <button
        type="button"
        [disabled]="isProcessing"
        (click)="onSubmit()"
      >
        {{ mode === 'create' ? 'Erstellen' : 'Änderungen speichern' }}
      </button>

      <button
        type="button"
        (click)="switchMode('view')"
      >
        Abbrechen
      </button>
      <button
        type="button"
        (click)="resetForm()"
      >
        {{ mode === 'create' ? 'Formular leeren' : 'Änderungen verwerfen' }}
      </button>
    </footer>

    <!-- Modals -->

    <app-post-tech-stack-selector
      class="overlay"
      [class.hidden]="!isTechStackSelectorModalOpen"
      [openModal]="isTechStackSelectorModalOpen"
      [class.open]="isTechStackSelectorModalAnimating"
      [class.closed]="!isTechStackSelectorModalAnimating"
      (animationend)="onAnimationEnd($event)"
      (closeModal)="closeTechStackModal()"
      [endPoint]="'POST_ALLOWED_VALUES'"
      [params]="['?filter[type]=technology,language&select=count:name']"
      [controlLanguages]="getControl('languages')"
      [controlTechnologies]="getControl('technologies')"
      [enableSearch]="true"
    ></app-post-tech-stack-selector>
  </article>
} @else {
  <p>Loading...</p>
}
