@if (postForm !== null && (mode === 'create' || mode === 'edit')) {
  <article
    class="post"
    [formGroup]="postForm"
  >
    <header class="header">
      <div class="system-bar">
        <div class="version">
          <time class="currentDate"> {{ currentDate | localDate }}</time>

          <span class="separator">|</span>

          <app-query-params-dropdown
            class="post-from-dropdown"
            [mode]="'Component'"
            [label]="'Beitragstyp'"
            [defaultValueLabel]="getDefaultValue('post_type', 'Beitragstyp')"
            [defaultValue]="getDefaultValue('post_type', '')"
            [enableSearch]="false"
            [endPoint]="'POST_ALLOWED_VALUES'"
            [params]="getAllowedValuesParams('post_type')"
            (selectionChange)="patchDropdownValues($event, 'post_type')"
          ></app-query-params-dropdown>

          <span class="separator">|</span>

          <app-query-params-dropdown
            class="post-from-dropdown"
            [mode]="'Component'"
            [label]="'Category'"
            [defaultValueLabel]="getDefaultValue('category', 'Category')"
            [defaultValue]="getDefaultValue('category', '')"
            [enableSearch]="true"
            [endPoint]="'POST_ALLOWED_VALUES'"
            [params]="getAllowedValuesParams('category')"
            (selectionChange)="patchDropdownValues($event, 'category')"
          ></app-query-params-dropdown>

          <span class="separator">|</span>
        </div>

        <app-query-params-dropdown
          class="right-aligned post-from-dropdown"
          [mode]="'Component'"
          [label]="'Status'"
          [defaultValueLabel]="getDefaultValue('status', 'Status')"
          [defaultValue]="getDefaultValue('status', '')"
          [enableSearch]="false"
          [endPoint]="'POST_ALLOWED_VALUES'"
          [params]="getAllowedValuesParams('status')"
          (selectionChange)="patchDropdownValues($event, 'status')"
        ></app-query-params-dropdown>
      </div>

      <div class="info-bar">
        <!-- UserBadge -->

        <!-- Engagement (Likes, Favorites, Share) Icons mit placeholder Count 0 -->
      </div>
    </header>

    <section class="content">
      <!-- Formularfeld für Titel -->
      <!-- Formularfeld für Beschreibung -->
      <!-- Formularfeld für Code, wenn möglich mit Live ( oder kleinem debouncing ) Syntax Highlighting -->
    </section>

    <footer class="footer">
      <div class="footer-meta">
        <!-- Modal für Tech Stack (Sprachen/Frameworks und Tools) 
       Im Modal sind die Sprachen/Frameworks und Tools mit Icon und Name aufgelistet,
      die der Nutzer auswählen kann. Es können mehrere Sprachen/Frameworks und Tools ausgewählt werden.        
       -->

        <!-- Modal für Media Links (Images, Videos, Resources) 
       Im Modal können die Links eingegeben und verwaltet werden.
       Nach eingabe vom ersten Link, erscheint ein weiteres Feld für den nächsten Link usw.
       Es können beliebig viele Links hinzugefügt werden-->
      </div>

      <span class="line-break"></span>
      <!-- Formularfeld für Tags, nach Bestätigung wird der tag gleich anzeigt, es können auch mehre tags auf einmal angeben werden.  
     Example: Angular, JavaScript, Webentwicklung, etc.
     -->

      <!-- Buttons für Speichern, Veröffentlichen, Abbrechen -->
    </footer>

    <!-- Modals -->
    <button
      type="button"
      [disabled]="isProcessing"
      (click)="onSubmit()"
    >
      {{ mode === 'create' ? 'Erstellen' : 'Änderungen speichern' }}
    </button>

    <button
      type="button"
      (click)="switchMode('view')"
    >
      Abbrechen
    </button>
    <button
      type="button"
      (click)="resetForm()"
    >
      {{ mode === 'create' ? 'Formular leeren' : 'Änderungen verwerfen' }}
    </button>
  </article>
}

<!-- @if (mode === 'create') {
  <h1>Beitrag erstellen</h1>
  <p>Hier könnte ein Formular zur Erstellung eines neuen Beitrags angezeigt werden.</p>
  <button>Erstellen</button>
  <button
    type="button"
    (click)="switchMode('view')"
  >
    Abbrechen
  </button>
} @else {
  <h1>Beitrag bearbeiten</h1>
  <p>Hier könnte ein Formular zur Bearbeitung des Beitrags angezeigt werden.</p>
  <button>Speichern</button>
  <button
    type="button"
    (click)="switchMode('view')"
  >
    Abbrechen
  </button>
} -->
