@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

.post {
  position: relative;

  @include display-flex($direction: column);
  gap: px-to-rem(25);

  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);
  padding: px-to-rem(25) px-to-rem(50);

  .header {
    @include display-flex($direction: column);
    gap: px-to-rem(25);

    .system-bar {
      @include display-flex(center, space-between);

      position: relative;
      border-bottom: 2px solid var(--font-primary-color-50);
      padding-bottom: px-to-rem(10);

      .version {
        @include display-flex(center);
        gap: px-to-rem(10);

        .separator {
          color: var(--font-primary-color-50);
        }
      }
    }

    .info-bar {
      @include display-flex(center, space-between);
    }
  }

  .content {
    @include display-flex($direction: column);

    .title-wrapper {
      @include display-flex(center);
      gap: px-to-rem(10);

      .title-input {
        @include font-settings(16, 700);
        @include singleline-ellipsis();
        color: var(--font-primary-color-100);
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;

        @include placeholder();
      }

      &::before {
        content: '';
        height: 1px;
        min-width: px-to-rem(100);
        max-width: px-to-rem(100);
        background-color: var(--font-primary-color-20);
      }

      &::after {
        content: '';
        height: 1px;
        flex-grow: 1;
        min-width: px-to-rem(100);
        background-color: var(--font-primary-color-20);
      }
    }
  }

  .footer {
    @include display-flex($direction: column);
    gap: px-to-rem(25);

    .footer-meta {
      @include display-flex(start, space-between);
      gap: px-to-rem(25);

      .tech-stack-section,
      .media-links-section {
        @include display-flex(center);
        gap: px-to-rem(15);

        .add-tech-stack-button,
        .add-media-links-button {
          @include button-preset();
          @include display-flex(center);

          &:hover {
            cursor: pointer;

            //TODO Fix color later use variable
            &::ng-deep .add_tech_stack,
            &::ng-deep .add_media_links {
              fill: rgb(0, 185, 0);
            }

            & + .add-tech-stack-label {
              color: var(--font-primary-color-100);
              transition: color var.$transition-duration-medium ease-in-out;
            }
          }

          //TODO Fix color later use variable
          &::ng-deep .add_tech_stack,
          &::ng-deep .add_media_links {
            width: px-to-rem(25);
            height: px-to-rem(25);
            fill: rgb(0, 128, 0);
            transition: fill var.$transition-duration-medium ease-in-out;
          }
        }

        .add-tech-stack-label,
        .add-media-links-label {
          @include font-settings(14, 500);
          color: var(--font-primary-color-50);

          &:hover {
            cursor: pointer;
            color: var(--font-primary-color-100);
          }
        }

        &:has(.add-media-links-button:hover) {
          .add-media-links-label {
            color: var(--font-primary-color-100);
            transition: color var.$transition-duration-medium ease-in-out;
          }
        }

        &:has(.add-tech-stack-label:hover) {
          .add-tech-stack-button ::ng-deep .add_tech_stack {
            fill: rgb(0, 185, 0);
          }
        }

        &:has(.add-media-links-label:hover) {
          .add-media-links-button ::ng-deep .add_media_links {
            fill: rgb(0, 185, 0);
          }
        }
      }
    }

    .line-break {
      width: 100%;
      height: 1px;
      background-color: var(--font-primary-color-20);
    }

    .footer-sub {
      @include display-flex(center, space-between);
      gap: px-to-rem(50);

      .tags-section {
        @include display-flex(center);
        gap: px-to-rem(15);

        .add-tags-button {
          @include button-preset();
          @include display-flex(center);

          align-self: start;

          &:hover {
            cursor: pointer;

            //TODO Fix color later use variable
            &::ng-deep .add_tags {
              fill: rgb(0, 185, 0);
            }

            & + .add-tags-label {
              color: var(--font-primary-color-100);
              transition: color var.$transition-duration-medium ease-in-out;
            }
          }

          //TODO Fix color later use variable
          &::ng-deep .add_tags {
            width: px-to-rem(25);
            height: px-to-rem(25);
            fill: rgb(0, 128, 0);
            transition: fill var.$transition-duration-medium ease-in-out;
          }
        }

        .add-tags-label {
          @include font-settings(14, 500);
          color: var(--font-primary-color-50);

          &:hover {
            cursor: pointer;
            color: var(--font-primary-color-100);
          }
        }

        &:has(.add-tags-label:hover) {
          .add-tags-button ::ng-deep .add_tags {
            fill: rgb(0, 185, 0);
          }
        }
      }

      .action-buttons {
        @include display-flex(center);
        gap: px-to-rem(15);
        align-self: start;

        .reset-button,
        .cancel-button,
        .save-button {
          @include button-preset();
          @include display-flex(center);
          gap: px-to-rem(10);
          color: var(--font-primary-color-100);
          cursor: pointer;

          &:hover {
            &::ng-deep .action_reset {
              fill: var(--font-primary-color-100);
            }

            &::ng-deep .action_cancel {
              //TODO Fix color later use variable
              fill: rgb(185, 0, 0);
            }

            &::ng-deep .action_save {
              //TODO Fix color later use variable
              fill: rgb(0, 185, 0);
            }
          }

          &::ng-deep .action_reset {
            fill: var(--font-primary-color-50);
          }

          &::ng-deep .action_cancel {
            //TODO Fix color later use variable
            fill: rgb(139, 2, 2);
          }

          &::ng-deep .action_save {
            //TODO Fix color later use variable
            fill: green;
          }

          &::ng-deep .action_reset,
          &::ng-deep .action_cancel,
          &::ng-deep .action_save {
            width: px-to-rem(20);
            height: px-to-rem(20);
            transition: fill var.$transition-duration-medium ease-in-out;
          }
        }
      }
    }
  }
}
