<div class="tech-stack">
  @if (languages.length > 0) {
    <div class="languages">
      @for (language of languages; track language.id) {
        <button
          class="language"
          [class.active]="isViewMode"
          type="button"
          [disabled]="!isViewMode"
          [title]="language.name"
          [innerHTML]="svgIconsService.returnIcon(language.name, 'language-icon')"
          [routerLink]="'/posts-list'"
          [queryParams]="{
            context: context,
            endPoint: endPoint,
            entity: 'languages',
            entityValue: language.name,
            postType: selectedPostType,
          }"
        ></button>
      }
    </div>
  }

  @if (technologies.length > 0) {
    <div class="technologies">
      @for (technology of technologies; track technology.id) {
        <button
          class="technology"
          [class.active]="isViewMode"
          type="button"
          [disabled]="!isViewMode"
          [title]="technology.name"
          [innerHTML]="svgIconsService.returnIcon(technology.name, 'technology-icon')"
          [routerLink]="'/posts-list'"
          [queryParams]="{
            context: context,
            endPoint: endPoint,
            entity: 'technologies',
            entityValue: technology.name,
            postType: selectedPostType,
          }"
        ></button>
      }
    </div>
  }
</div>
