<div class="tech-stack">
  @if (languages.length > 0) {
    <div class="languages">
      @for (language of languages; track language.name) {
        <button
          class="language"
          [class.active]="isViewMode"
          type="button"
          [disabled]="!isViewMode"
          [title]="language.name"
          [innerHTML]="svgIconsService.returnIcon(language.name, 'language-icon')"
          [routerLink]="isViewMode ? '/posts-list' : null"
          [queryParams]="{
            context: context,
            endPoint: endPoint,
            selectedEntity: 'languages',
            selectedEntityValue: language.name,
            selectedPostType: selectedPostType,
          }"
        ></button>
      }
    </div>
  }

  @if (technologies.length > 0) {
    <div class="technologies">
      @for (technology of technologies; track technology.name) {
        <button
          class="technology"
          [class.active]="isViewMode"
          type="button"
          [disabled]="!isViewMode"
          [title]="technology.name"
          [innerHTML]="svgIconsService.returnIcon(technology.name, 'technology-icon')"
          [routerLink]="isViewMode ? '/posts-list' : null"
          [queryParams]="{
            context: context,
            endPoint: endPoint,
            selectedEntity: 'technologies',
            selectedEntityValue: technology.name,
            selectedPostType: selectedPostType,
          }"
        ></button>
      }
    </div>
  }
</div>
