<section class="favorites">
  @if (authService.isLoggedIn() && hasAvailableData !== false) {
    @if (searchService.showSearchResults$ | async) {
      <app-tech-block
        [class.active]="searchService.searchActive$ | async"
        [attr.aria-hidden]="!(searchService.searchActive$ | async)"
        [context]="PageContextEnums.FAVORITES"
        [heading]="'Suchergebnisse'"
        [version]="'search-results'"
        [endPoint]="endPoint"
        [params]="languagesTechnologies"
      ></app-tech-block>
    }

    <app-tech-block
      [class.active]="!(searchService.searchActive$ | async)"
      [attr.aria-hidden]="searchService.searchActive$ | async"
      [context]="PageContextEnums.FAVORITES"
      [heading]="'Favoriten'"
      [version]="'favorites'"
      [endPoint]="endPoint"
      [params]="languagesTechnologies"
    ></app-tech-block>

    <app-tech-block
      [class.active]="!(searchService.searchActive$ | async)"
      [attr.aria-hidden]="searchService.searchActive$ | async"
      [context]="PageContextEnums.FAVORITES"
      [heading]="'Sprachen / Frameworks'"
      [version]="'default'"
      [endPoint]="endPoint"
      [params]="languages"
      (hasAvailableData)="handleHasAvailableData($event, 'languages')"
    ></app-tech-block>

    <app-tech-block
      [class.active]="!(searchService.searchActive$ | async)"
      [attr.aria-hidden]="searchService.searchActive$ | async"
      [context]="PageContextEnums.FAVORITES"
      [heading]="'Tools'"
      [version]="'default'"
      [endPoint]="endPoint"
      [params]="technologies"
      (hasAvailableData)="handleHasAvailableData($event, 'technologies')"
    ></app-tech-block>
  } @else if (authService.isLoggedIn() && hasAvailableData === false) {
    <app-action-placeholder
      [title]="'Favoriten'"
      [message]="['Du hast noch keine Favoriten. Entdecke die Beiträge der Community und füge deine Favoriten hinzu.']"
      [buttonText]="'Zur Community'"
      [buttonLink]="'/community'"
    ></app-action-placeholder>
  } @else {
    <app-action-placeholder
      [title]="'Willkommen in deinen Favoriten!'"
      [message]="['Bitte melde dich an, um deine Favoriten zu sehen.']"
      [buttonText]="'Anmelden'"
      [buttonLink]="'/login'"
    ></app-action-placeholder>
  }
</section>
