@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.user-badge-component {
  position: relative;

  .user-badge {
    @include display-flex(center);
    gap: px-to-rem(10);

    &:hover {
      cursor: pointer;

      .avatar img {
        transform: scale(1.1);
      }
    }

    .avatar {
      width: px-to-rem(50);
      height: px-to-rem(50);
      overflow: hidden;
      border-radius: 50%;

      z-index: 2;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform var.$transition-duration-medium ease-in-out;

        &.opened {
          transform: scale(1.1);
        }
      }
    }

    .display-name {
      color: var(--font-primary-color-100);

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  @include dropside-values($item-spacing-vertical: px-to-rem(10), $item-spacing-horizontal: px-to-rem(30), $border-radius: px-to-rem(9999), $font-size: 16, $orientation: left, $z-index: 1);

  .values {
    .value {
      &:first-child {
        padding-left: px-to-rem(45);
      }
    }
  }
}
