@if (user) {
  @if (reportModalOpen) {
    <app-report-modal
      class="overlay"
      [reportId]="user.id"
      [reportContext]="'user'"
      [class.open]="reportModalAnimating"
      [class.closed]="!reportModalAnimating"
      (click)="closeReportModal()"
      (animationend)="onAnimationEnd($event)"
      (closeModal)="closeReportModal()"
    ></app-report-modal>
  }

  <div
    class="user-badge-component"
    appClickOutsideDirective
    [clickOutsideEnabled]="menuOpen"
    (clickOutside)="triggerCloseBadgeMenu()"
  >
    <div
      (click)="menuActive ? toggleBadgeMenu() : null"
      class="user-badge"
      [class.menu-active]="menuActive"
    >
      <app-avatar-layer
        [avatarMvpId]="user.avatar_mvp_id ?? null"
        [menuOpen]="menuOpen"
      ></app-avatar-layer>
      <span class="display-name">{{ user.display_name }}</span>
    </div>

    @if (menuActive && menuOpen) {
      <app-user-badge-menu
        [user]="user"
        [isUserBadgeMenuOpen]="menuOpen"
        [isUserBadgeMenuAnimating]="menuAnimating"
        (closeMenu)="closeBadgeMenu()"
        (openReportModal)="openReportModal()"
      ></app-user-badge-menu>
    }
  </div>
}
