@if (isReportModalOpen && user) {
  <app-report-modal
    class="overlay"
    [reportId]="user.id"
    [reportContext]="'user'"
    [class.open]="isReportModalAnimating"
    [class.closed]="!isReportModalAnimating"
    (click)="closeReportModal()"
    (animationend)="onAnimationEnd($event)"
    (closeModal)="closeReportModal()"
  ></app-report-modal>
}

<div class="user-badge-component">
  <div
    (click)="toggleBadgeMenu()"
    class="user-badge"
  >
    <div class="avatar">
      <img
        [class.opened]="isUserBadgeMenuOpen"
        src="/avatar-items/placeholder.webp"
        alt="placeholder"
      />
    </div>
    <span class="display-name">{{ user?.display_name }}</span>
  </div>

  @if (isUserBadgeMenuOpen) {
    <app-user-badge-menu
      [user]="user"
      [isUserBadgeMenuOpen]="isUserBadgeMenuOpen"
      [isUserBadgeMenuAnimating]="isUserBadgeMenuAnimating"
      (closeMenu)="closeBadgeMenu()"
      (openReportModal)="openReportModal()"
    ></app-user-badge-menu>
  }
</div>

<!--TODO For later avatar implementation -->
<!-- @for (avatarItem of avatarItemsEntries(); track $index) {
      <div>
        @if (avatarItem.url) {
          <img
            [src]="avatarItem.url"
            [alt]="avatarItem.key"
            [class]="avatarItem.key"
          />
        }
      </div>
    } -->
