@if (deleteAccountForm !== null) {
  <div class="delete-account">
    <div class="header">
      <h1 class="heading">Konto löschen</h1>
      <h2 class="subheading">Möchten Sie Ihr Konto wirklich löschen?</h2>
    </div>

    <div class="icon-wrapper">
      <app-badge
        class="badge"
        [messages]="messages['deleteAccount']"
      ></app-badge>

      <span
        class="icon-container"
        [class.animated]="isProcessing"
        [innerHTML]="svgIconsService.returnIcon(getDuckIcon(), 'icon')"
      ></span>
    </div>

    <form
      class="form"
      [formGroup]="deleteAccountForm"
    >
      <div class="input-container">
        <app-badge
          class="badge"
          [messages]="deleteAccountForm.get('identifier')?.invalid && deleteAccountForm.get('identifier')?.touched ? messages['identifier'] : null"
          [caret]="'left'"
        ></app-badge>

        <input
          class="input"
          type="text"
          name="identifier"
          formControlName="identifier"
          placeholder="E-Mail-Adresse oder Benutzernamen eingeben"
        />
      </div>

      <div class="input-container">
        <app-badge
          class="badge"
          [messages]="deleteAccountForm.get('password')?.invalid && deleteAccountForm.get('password')?.touched ? messages['password'] : null"
          [caret]="'left'"
        ></app-badge>

        <div class="password-input-wrapper">
          <app-password-toggle-button
            class="password-toggle-button"
            [isPasswordVisible]="isPasswordVisible"
            (passwordVisibilityChange)="isPasswordVisible = $event"
          ></app-password-toggle-button>

          <input
            class="input"
            [type]="isPasswordVisible ? 'text' : 'password'"
            name="password"
            (focus)="isPasswordFocused = true"
            (blur)="isPasswordFocused = false"
            formControlName="password"
            placeholder="Passwort eingeben"
          />
        </div>
      </div>

      <div class="action-buttons">
        <button
          class="submit-button"
          (click)="onSubmit()"
        >
          {{ doubleCheckIdentifier ? 'Ja, Konto löschen' : 'Konto löschen' }}
        </button>

        <button
          type="button"
          class="cancel-button"
          (click)="onCancel()"
        >
          Abbrechen
        </button>
      </div>
    </form>
  </div>
}
