<!--TODO Temporary Template, for testing purposes only. -->
<div
  class="post-tech-stack-selector"
  (click)="$event.stopPropagation()"
>
  <div class="header">
    <h3 class="title">Pick Tech Stack</h3>
    <span
      class="icon"
      [innerHTML]="svgIconsService.returnIcon('close')"
      (click)="pushToControl()"
    ></span>
  </div>

  @if (filteredValues.length > 0 || favoriteValues.length > 0) {
    @if (enableSearch) {
      <input
        class="search-input"
        [placeholder]="'Search from ' + originalAvailableValues.length + ' options...'"
        type="text"
        (input)="filterFunction($event.target.value)"
      />
    }

    <div class="content">
      @if (favoriteValues.length > 0 && !isSearchActive) {
        <div class="favorites">
          @for (value of favoriteValues; track value.name) {
            <button
              class="value"
              [class.selected]="isSelected(value)"
              (click)="toggleValue(value)"
              [title]="value.name"
            >
              <span
                class="icon"
                [class.selected]="isSelected(value)"
                [innerHTML]="svgIconsService.returnIcon(value.name, 'favorite-icon')"
              ></span>
              <span class="name">{{ value.name }}</span>
            </button>
          }
        </div>
      }

      @if (filteredValues.length > 0) {
        <div class="available">
          @for (value of filteredValues; track value.name) {
            <button
              class="value"
              [class.selected]="isSelected(value)"
              (click)="toggleValue(value)"
              [title]="value.name"
            >
              <span
                class="icon"
                [class.selected]="isSelected(value)"
                [innerHTML]="svgIconsService.returnIcon(value.name, 'available-icon')"
              ></span>
              <span class="name">{{ value.name }}</span>
            </button>
          }
        </div>
      }
    </div>
  } @else {
    <div>
      <p>Loading...</p>
    </div>
  }
</div>
