@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  @include display-flex($justify: start);
}

.home-button {
  @include button-preset();
  @include display-flex($justify: center, $align: center, $gap: px-to-rem(10));
  height: px-to-rem(60);
  min-width: max-content;

  .icon {
    height: 100%;

    @include svg-icon($icon-class: 'home', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50));
  }
}
