@if (tile && endPoint && context) {
  <a
    class="tile"
    [routerLink]="'/post-types-selection'"
    [queryParams]="{ context: context, endPoint: endPoint, entity: tile.entity, entityValue: tile.name }"
  >
    <button
      class="icon"
      [class.isFavorite]="isFavorite"
      [innerHTML]="svgIconsService.returnIcon(isFavorite ? 'favorite' : 'favorite_outline', 'favorite')"
      (click)="$event.stopPropagation(); toggleFavorite($event, tile)"
    ></button>
    <div class="content">
      <span
        class="container"
        [innerHTML]="svgIconsService.returnIcon(tile.name, 'tile-icon')"
      ></span>
      <span class="name">{{ tile.name }}</span>
    </div>
    <span class="count">{{ tile.total_counts }}</span>
  </a>
}
