@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.tile {
  @include display-flex(center, space-between, column);
  background-color: var(--page-primary-color-100);
  width: px-to-rem(160);
  height: px-to-rem(160);
  border-radius: px-to-rem(15);
  padding-top: px-to-rem(25);
  padding-bottom: px-to-rem(10);

  &:hover {
    box-shadow: 0 0 px-to-rem(8) var(--font-primary-color-50);
  }

  .content {
    @include display-flex(center, center, column);
    gap: px-to-rem(10);
    width: 100%;

    .container {
      @include display-flex(center, center, column);
      width: px-to-rem(80);
      height: px-to-rem(80);

      &::ng-deep .tile-icon {
        fill: var(--font-primary-color-100);
        width: px-to-rem(80);
        height: px-to-rem(80);
      }

      &::ng-deep .fallback {
        fill: var(--font-primary-color-100);
        width: px-to-rem(60);
        height: px-to-rem(60);
      }
    }

    .name {
      @include font-settings(16);
      @include singleline-ellipsis();
      text-transform: capitalize;
    }
  }

  .count {
    @include font-settings(14);
    width: 100%;
    text-align: end;
    padding-right: px-to-rem(15);
  }
}
