@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.search {
  @include display-flex(center, center);
  min-height: 100%;
  padding: px-to-rem(15);
  gap: px-to-rem(15);

  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);

  overflow: hidden;

  width: 0%;
  min-width: 0;
  opacity: 0;

  &.active {
    animation: expand-min 2s ease-in-out forwards;
    transition: box-shadow var.$transition-duration-medium ease-in-out;
  }

  &:focus-within {
    box-shadow: 0 0 px-to-rem(8) var(--font-primary-color-50);
  }

  .search-input {
    padding: px-to-rem(10) px-to-rem(15);
    border-radius: px-to-rem(15);
    border: none;
    height: px-to-rem(30);

    /**
    * TODO Make this dynamic based on the available space
    */
    // flex-grow: 1;
    min-width: px-to-rem(649);

    transition: box-shadow var.$transition-duration-fast ease;

    &:focus {
      outline: none;
    }
  }

  .settings {
    @include display-flex(center, center);
    gap: px-to-rem(15);
    height: 100%;
    min-width: max-content;
  }
}

@keyframes expand-min {
  0% {
    min-width: 0%;
  }
  100% {
    min-width: 100%;
    opacity: 1;
  }
}
