<!-- TODO Temporary search component for testing purposes , to be replaced with a more advanced version later -->

<div
  [attr.aria-disabled]="!(searchService.enableSearch$ | async)"
  class="search"
>
  <input
    #searchInput
    type="text"
    class="search-input"
    placeholder="Search..."
    (input)="onInput($event.target.value)"
    (keydown.enter)="onEnter($event.target.value)"
    [attr.aria-disabled]="!(searchService.enableSearch$ | async)"
  />
  <div class="settings">
    <span [innerHTML]="svgIconsService.returnIcon('placeholder')"></span>
    <span [innerHTML]="svgIconsService.returnIcon('placeholder')"></span>
    <span [innerHTML]="svgIconsService.returnIcon('placeholder')"></span>
    <span [innerHTML]="svgIconsService.returnIcon('placeholder')"></span>
  </div>
</div>
