@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  height: 100%;
}

.search-container {
  @include display-flex($align: center, $justify: center);
  height: 100%;
  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);
  overflow: hidden;

  .close-search {
    @include button-preset();
    @include golden-ratio-padding();
    height: 100%;
    flex-shrink: 0;

    @include svg-icon($icon-class: 'search_close', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50), $hover-fill-color: var(--font-primary-color-100));
  }

  .cage-icon-container {
    @include golden-ratio-padding();
    cursor: default;
    height: 100%;
    flex-shrink: 0;

    @include svg-icon($icon-class: 'cage', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50));

    @media (max-width: var.$breakpoint-md) {
      display: none;
    }
  }

  @include box-shadow-on($modifier: ':focus-within');

  .search {
    @include display-flex($align: center, $justify: center);
    @include golden-ratio-padding();
    height: 100%;
    width: 100%;

    @media (max-width: var.$breakpoint-md) {
      padding-inline: 0;
    }

    .search-input {
      @include input-feld($border-radius: 15px, $enableShadow: false);
      height: 100%;
    }
  }

  .start-search {
    @include button-preset();
    @include golden-ratio-padding();
    height: 100%;
    flex-shrink: 0;

    @include svg-icon($icon-class: 'send', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50), $hover-fill-color: var(--font-primary-color-100));
  }

  .indicators {
    @include display-flex($align: center, $justify: center, $gap: px-to-rem(15));
    height: 100%;
    flex-shrink: 0;

    @media (max-width: var.$breakpoint-lg) {
      display: none;
    }

    .indicator-icon-container {
      @include display-flex($align: center, $justify: center);
      @include golden-ratio-padding();
      height: 100%;

      @include svg-icon($icon-class: 'indicator', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-50), $active-fill-color: var(--font-primary-color-100));
    }
  }
}
