<div
  class="post-delete"
  (click)="$event.stopPropagation()"
>
  <header class="header">
    <h3 class="title">Beitrag löschen</h3>
    <span
      class="icon"
      [innerHTML]="svgIconsService.returnIcon('close')"
      (click)="onClose()"
    ></span>
  </header>

  @if (post) {
    <div class="content">
      <h4 class="post-title">{{ post.title }}</h4>

      @if (fastDeleteEnabled) {
        <div class="confirmation-section">
          <app-badge
            class="badge"
            [messages]="messages['delete']"
            [caret]="'center'"
          ></app-badge>

          <p class="message">Möchten Sie diesen Beitrag wirklich löschen?</p>
        </div>
      } @else {
        @if (initialTitle?.length === confirmationTitle?.length) {
          <p class="message">Bitte den Titel zur Bestätigung eingeben.</p>
        } @else {
          <p class="message">Bitte die ersten {{ confirmationTitle?.length }} Zeichen vom Titel zur Bestätigung eingeben.</p>
        }

        <div class="confirmation-section">
          <app-badge
            class="badge"
            [messages]="messages['delete']"
            [caret]="'center'"
          ></app-badge>

          <div class="splitted-confirmation-title">
            @for (char of splittedConfirmationTitle; track $index) {
              <span
                class="confirmation-char"
                [class.pending]="char.status === 'pending'"
                [class.matched]="char.status === 'matched'"
                [class.error]="char.status === 'error'"
              >
                {{ char.value }}
              </span>
            }
          </div>

          <input
            #confirmationInput
            class="confirmation-input"
            type="text"
            name="confirmationInput"
            autocomplete="off"
            placeholder="Bestätigungstext eingeben"
            (input)="onDeleteConfirmationInput($event)"
          />
        </div>
      }
    </div>

    <div class="footer">
      <div class="actions">
        <button
          class="delete-button"
          type="button"
          (click)="onDeletePost(post)"
        >
          ja
        </button>
        <button
          class="cancel-button"
          type="button"
          (click)="onClose()"
        >
          Nein
        </button>
      </div>
    </div>
  } @else {
    <p>Fehler: Beitrag konnte nicht gefunden werden.</p>
  }
</div>
