@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

:host(.overlay) {
  @include display-flex(center, center);
  @include absolute-overlay($animation-style: fade);
}

.post-delete {
  @include display-flex($direction: column);
  gap: px-to-rem(25);

  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);
  padding: px-to-rem(25) px-to-rem(50) px-to-rem(25) px-to-rem(50);

  max-width: 50%;
  min-width: 50%;

  min-height: px-to-rem(300);
  max-height: px-to-rem(400);

  @include modal-header();

  .content {
    @include display-flex(start, start, column);
    gap: px-to-rem(25);
    flex-grow: 1;

    .post-title {
      @include font-settings(18, 500);
    }

    .confirmation-section {
      @include display-flex(center, center, column);
      gap: px-to-rem(5);
      width: 100%;

      .message {
        @include font-settings(16);

        &.badge-anchor {
          margin-top: px-to-rem(30);
        }
      }

      .splitted-confirmation-title {
        @include display-flex();

        .confirmation-char {
          @include font-settings(16, 500);
          min-width: 1ch;
          position: relative;

          &.pending {
            color: var(--font-primary-color-100);
          }

          //TODO Fix color later use variable
          &.matched {
            color: green;
          }

          //TODO Fix color later use variable
          &.error {
            color: red;
          }
        }
      }

      .confirmation-input {
        padding: px-to-rem(10) px-to-rem(15);
        margin-block: px-to-rem(10);
        border-radius: px-to-rem(5);
        border: none;
        height: px-to-rem(30);

        min-width: 0;
        width: 100%;

        transition: box-shadow var.$transition-duration-fast ease;

        &:focus {
          outline: none;
          box-shadow: 0 0 px-to-rem(8) var(--font-primary-color-50);
        }
      }

      &:has(.badge-anchor.dev-info) {
        @include info-compiler-badge('.badge-anchor', $top: -10px, $left: 0px);
      }

      &:not(:has(.badge-anchor.dev-info)):has(.badge-anchor.dev-success) {
        @include success-compiler-badge('.badge-anchor', $top: -10px, $left: 0px);
      }

      &:not(:has(.badge-anchor.dev-info)):not(:has(.badge-anchor.dev-success)) {
        @include error-compiler-badge('.badge-anchor', $top: -10px, $left: 0px);
      }
    }
  }

  .footer {
    @include display-flex(center, center, column);

    .actions {
      @include display-flex(center, center);
      gap: px-to-rem(25);

      .delete-button,
      .cancel-button {
        @include button-preset();
        @include golden-ratio-padding(14);
        @include font-settings(14, 500);
        max-width: fit-content;
        min-width: px-to-rem(200);

        background-color: var(--font-primary-color-5);

        border: 2px solid var(--font-primary-color-50);
        border-radius: px-to-rem(10);

        transition: background-color var.$transition-duration-medium ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: var(--page-primary-color-100);
        }
      }
    }
  }
}
