@let translatePath = 'SearchButton' + '.';
@let translatePathAriaLabel = translatePath + 'ariaLabel' + '.';

@let searchServiceEnableSearch = searchService.enableSearch$ | async;

<div class="search-button-container">
  <button
    class="search-button"
    [class.active]="searchServiceEnableSearch"
    (click)="toggleSearch()"
    [disabled]="!searchServiceEnableSearch"
    [attr.aria-label]="translatePathAriaLabel + (showSearch ? 'closeSearch' : 'openSearch') | translate"
  >
    <span
      class="icon-container"
      [class.spin]="showSearch && !(searchService.dataLoaded$ | async)"
      [innerHTML]="svgIconsService.returnIcon(showSearch ? ((searchService.dataLoaded$ | async) ? 'search_close' : 'sync') : 'search', 'search-button-icon')"
      aria-hidden="true"
    ></span>
  </button>

  @if (hasSearchValue) {
    <button
      type="button"
      class="search-clear"
      (click)="clearSearch()"
      [innerHTML]="svgIconsService.returnIcon('search_clear')"
      [attr.aria-label]="translatePathAriaLabel + 'clearSearch' | translate"
    ></button>
  }
</div>
