@let translatePath = 'SearchButton' + '.';
@let translatePathAriaLabel = translatePath + 'ariaLabel' + '.';

<button
  class="search-button"
  [class.active]="searchService.enableSearch$ | async"
  (click)="toggleSearch()"
  [disabled]="!(searchService.enableSearch$ | async)"
  [attr.aria-label]="translatePathAriaLabel + (showSearch ? 'closeSearch' : 'openSearch') | translate"
>
  @if (hasSearchValue) {
    <span
      appAccessibleButtonDirective
      [accessibleButtonAction]="clearSearch.bind(this)"
      class="search-clear"
      [innerHTML]="svgIconsService.returnIcon('search_clear')"
      [attr.aria-label]="translatePathAriaLabel + 'clearSearch' | translate"
    ></span>
  }

  <span
    class="icon-container"
    [class.spin]="showSearch && !(searchService.dataLoaded$ | async)"
    [innerHTML]="svgIconsService.returnIcon(showSearch ? ((searchService.dataLoaded$ | async) ? 'search_close' : 'sync') : 'search', 'search-button-icon')"
  ></span>
</button>
