@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

.search-button {
  @include button-preset();
  @include golden-ratio-padding();
  @include display-flex(center, center, column);
  position: relative;
  background-color: var(--page-primary-color-100);
  border-radius: px-to-rem(15);
  width: px-to-rem(60);
  height: px-to-rem(60);

  transition: box-shadow var.$transition-duration-medium ease-in-out;

  &:hover:not(:has(.search-clear:hover)) {
    box-shadow: 0 0 px-to-rem(8) var(--font-primary-color-50);
  }

  &:has(.search-clear:hover) {
    box-shadow: 0 0 px-to-rem(8) var(--red-color-100);
  }

  .search-clear {
    @include display-flex($align: center, $justify: center);
    position: absolute;
    top: px-to-rem(-5);
    right: px-to-rem(-5);
    background-color: var(--page-primary-color-100);
    border: 2px solid var(--red-color-100);
    border-radius: 50%;
    padding: px-to-rem(2);

    width: px-to-rem(20);
    height: px-to-rem(20);

    transition: transform var.$transition-duration-medium ease-in-out;
    &:hover {
      transform: scale(1.1);
      transition: transform var.$transition-duration-medium ease-in-out;
    }

    &::ng-deep .search_clear {
      fill: var(--red-color-100);
      width: 80%;
      height: 80%;
    }
  }

  span {
    &.spin {
      @include display-flex($align: center, $justify: center);
      will-change: transform;
      backface-visibility: hidden;
      transform: translateZ(0);
      animation: spin 3s linear infinite;
    }

    &::ng-deep .search,
    &::ng-deep .search_close,
    &::ng-deep .sync {
      fill: var(--font-primary-color-100);
      width: px-to-rem(34);
      height: px-to-rem(34);
    }
  }

  &:not(.active) {
    opacity: 0;
    pointer-events: none;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
