@use '../../../../functions' as *;
@use '../../../../var' as var;
@use '../../../../mixins' as *;

:host {
  @include display-flex($align: center, $justify: center);
  height: 100%;

  .mobile & {
    display: none;
  }
}

.search-button-container {
  position: relative;
  height: 100%;

  @include box-shadow-on($modifier: ':has(.search-clear:hover) .search-button', $box-shadow: 0 0 px-to-rem(8) var(--red-color-100));

  .search-button {
    @include button-preset();
    @include golden-ratio-padding();
    @include display-flex($align: center, $justify: center, $direction: column);
    background-color: var(--page-primary-color-100);
    border-radius: px-to-rem(15);
    height: 100%;

    transition: box-shadow var.$transition-duration-medium ease-in-out;

    @include box-shadow-on($modifier: ':hover:not(:has(.search-clear:hover))');

    .icon-container {
      height: 100%;

      &.spin {
        @include spin($duration: var.$transition-duration-ultra-slow);
      }

      @include svg-icon($icon-class: 'search-button-icon', $height: 100%, $width: 100%, $fill-color: var(--font-primary-color-100));
    }

    &:not(.active) {
      opacity: 0;
      pointer-events: none;
    }
  }

  .search-clear {
    @include button-preset();
    @include svg-icon($icon-class: 'search_clear', $height: 100%, $width: 100%, $fill-color: var(--red-color-100));

    @include position($position: absolute, $top: -5px, $right: -5px);

    background-color: var(--page-primary-color-100);
    border: 2px solid var(--red-color-100);
    border-radius: 50%;
    padding: px-to-rem(2);

    height: 35%;
    width: fit-content;

    transition: transform var.$transition-duration-medium ease-in-out;

    &:hover {
      transform: scale(1.1);
      transition: transform var.$transition-duration-medium ease-in-out;
    }
  }
}
