<button
  class="search-button"
  [class.active]="searchService.enableSearch$ | async"
  (click)="toggleSearch()"
  [attr.aria-disabled]="!(searchService.enableSearch$ | async)"
  [disabled]="!(searchService.enableSearch$ | async)"
>
  @if (hasSearchValue) {
    <span
      class="search-clear"
      (click)="$event.stopPropagation(); clearSearch()"
      [innerHTML]="svgIconsService.returnIcon('search_clear')"
    ></span>
  }

  <span
    [class.spin]="showSearch && !(searchService.dataLoaded$ | async)"
    [innerHTML]="svgIconsService.returnIcon(showSearch ? ((searchService.dataLoaded$ | async) ? 'search_close' : 'sync') : 'search')"
  ></span>
</button>
