@let translatePath = 'TechBlock' + '.';
@let translatePathAriaLabel = translatePath + 'ariaLabel' + '.';

<section class="tech-block">
  <header class="header">
    <h2 class="heading">{{ heading }} | {{ currentPage + 1 }} / {{ totalPages }}</h2>
    @if (version === 'favorites') {
      <button
        class="refresh"
        [class.active]="refreshFeedbackAnimation"
        (click)="clearFavoriteUpdate()"
        [innerHTML]="svgIconsService.returnIcon('refresh')"
        (animationend)="onAnimationEnd($event)"
        [attr.aria-label]="translatePathAriaLabel + 'refreshFavorites' | translate"
      ></button>
    }
  </header>
  @if (isLoading) {
    <app-loading [params]="heading ? { element: heading } : null"></app-loading>
  } @else if (paginatedTiles.length > 0) {
    <div class="tech">
      <app-section-stepper
        [direction]="'backward'"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [params]="heading ? { context: heading } : null"
        (pageChange)="onPageChange($event)"
      ></app-section-stepper>
      <div
        #tilesContainer
        class="tiles-container"
        [class.min-height]="totalPages > 1"
      >
        @for (tile of paginatedTiles; track tile.name) {
          <app-tech-tile
            [context]="context"
            [endPoint]="endPoint"
            [tile]="tile"
          ></app-tech-tile>
        }
      </div>
      <app-section-stepper
        [direction]="'forward'"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [params]="heading ? { context: heading } : null"
        (pageChange)="onPageChange($event)"
      ></app-section-stepper>
    </div>
  } @else {
    <app-no-results [params]="heading ? { element: heading } : null"></app-no-results>
  }
</section>
