@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

:host {
  --tile-height: #{px-to-rem(160)};
  --tile-width: #{px-to-rem(160)};
  --column-gap: #{px-to-rem(50)};
  --row-gap: #{px-to-rem(25)};

  @media (max-width: var.$breakpoint-lg) {
    --tile-height: #{px-to-rem(130)};
    --tile-width: #{px-to-rem(130)};
    --column-gap: #{px-to-rem(25)};
    --row-gap: #{px-to-rem(12)};
  }

  @media (max-width: var.$breakpoint-xs) {
    --tile-height: #{px-to-rem(100)};
    --tile-width: #{px-to-rem(100)};
    --column-gap: #{px-to-rem(25)};
    --row-gap: #{px-to-rem(12)};
  }

  &:not(.active) {
    display: none;
  }
}

.tech-block {
  @include display-flex($direction: column, $gap: var(--row-gap));

  .header {
    @include display-flex($align: center, $justify: start, $gap: px-to-rem(15));

    .heading {
      @include font-settings(24);
    }

    .refresh {
      @include button-preset();
      height: px-to-rem(24);

      @include svg-icon(
        $icon-class: 'refresh',
        $height: 100%,
        $width: 100%,
        $fill-color: var(--font-primary-color-50),
        $hover-fill-color: var(--font-primary-color-100),
        $active-fill-color: var(--font-primary-color-100)
      );

      &.active {
        @include spin($suffix: 'refresh', $duration: var.$transition-duration-extra-slow, $repeat: none);
      }
    }
  }

  .tech {
    @include display-flex($align: center, $justify: center, $gap: var(--row-gap));

    .tiles-container {
      @include display-grid($align: start, $justify: center, $justify-content: center, $gap: var(--row-gap) var(--column-gap));
      grid-template-columns: repeat(auto-fill, var(--tile-width));
      width: 100%;

      // Set a minimum height for the tiles container when there are multiple pages of tiles.
      // This ensures that the container maintains a consistent height, preventing layout shifts when navigating between pages.
      &.min-height {
        min-height: calc(var(--tile-height) * 2 + var(--row-gap));
      }
    }
  }
}
