<section class="tech-block">
  <header class="header">
    <h2 class="heading">{{ heading }} | {{ currentPage + 1 }} / {{ totalPages }}</h2>
  </header>
  <div class="tech">
    <app-page-stepper
      [direction]="'backward'"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
      [attr.aria-hidden]="totalPages <= 1"
      [class.active]="totalPages > 1"
    ></app-page-stepper>
    <div class="tiles-container">
      @for (tile of paginatedTiles; track tile.name) {
        <app-tech-tile
          [endPoint]="endPoint"
          [context]="context"
          [tile]="tile"
        ></app-tech-tile>
      }
    </div>
    <app-page-stepper
      [direction]="'forward'"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
      [attr.aria-hidden]="totalPages <= 1"
      [class.active]="totalPages > 1"
    ></app-page-stepper>
  </div>
</section>
