@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.tech-block {
  margin-bottom: px-to-rem(40);

  .header {
    @include display-flex(center, start, row);
    gap: px-to-rem(50);
    margin-bottom: px-to-rem(25);

    .heading {
      @include font-settings(24);
    }
  }

  .tech {
    @include display-flex(center, center, row);
    gap: px-to-rem(25);

    .tiles-container {
      @include display-flex(flex-start, flex-start, row);
      gap: px-to-rem(25) px-to-rem(50);
      flex-wrap: wrap;
      width: 100%;

      &.large {
        min-height: px-to-rem(345);
      }
    }
  }

  app-page-stepper {
    &:not(.active) {
      opacity: 0;
      pointer-events: none;
    }
  }
}
