<section class="tech-block">
  <header class="header">
    <h2 class="heading">{{ heading }} | {{ currentPage + 1 }} / {{ totalPages }}</h2>
  </header>
  @if (isLoading) {
    <h3>Loading...</h3>
  } @else if (paginatedTiles.length > 0) {
    <div class="tech">
      <app-page-stepper
        [direction]="'backward'"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
        [attr.aria-hidden]="totalPages <= 1"
        [class.active]="totalPages > 1"
      ></app-page-stepper>
      <div
        class="tiles-container"
        [class.large]="totalPages > 1"
      >
        @for (tile of paginatedTiles; track tile.name) {
          <app-tech-tile
            [context]="context"
            [endPoint]="endPoint"
            [tile]="tile"
          ></app-tech-tile>
        }
      </div>
      <app-page-stepper
        [direction]="'forward'"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
        [attr.aria-hidden]="totalPages <= 1"
        [class.active]="totalPages > 1"
      ></app-page-stepper>
    </div>
  } @else {
    <h3>Keine {{ heading }} gefunden.</h3>
  }
</section>
