@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.toggle-button {
  @include button-preset();
  @include display-flex(center, center);

  &::ng-deep .eye {
    fill: var(--font-primary-color-50);
    width: px-to-rem(20);
    height: px-to-rem(20);
  }

  &:hover {
    cursor: pointer;

    &::ng-deep .eye {
      fill: var(--font-primary-color-100);
    }
  }
}
