@if (control || description) {
  <div
    class="description-container"
    [class.expanded]="isExpanded"
  >
    <div class="description-header">
      <button
        class="copy-button"
        [class.copied]="isCopied"
        [class.copy-failed]="copiedFailed"
        (mousedown)="copyToClipboard(control ? control.value : description); $event.preventDefault()"
        [innerHTML]="svgIconsService.returnIcon('copy')"
      ></button>
      <button
        class="expand-collapse-button"
        (mousedown)="toggleExpanded(); $event.preventDefault()"
        [innerHTML]="svgIconsService.returnIcon(isExpanded ? 'collapse' : 'expand')"
      ></button>
    </div>

    @if (isViewMode) {
      <pre class="description">{{ description }}</pre>
    } @else if (control) {
      <textarea
        #descriptionTextarea
        (input)="adjustHeight()"
        (blur)="trimDescription(control.value)"
        class="description-input"
        [placeholder]="'Beitragsbeschreibung hier eingeben'"
        name="description-input"
        type="text"
        [maxlength]="65535"
        [formControl]="control"
      ></textarea>
    }
  </div>
}
