@use 'sass:math';
@use './functions' as *;
@use './var' as *;

@mixin max-content-settings {
  max-width: 3440px;
  width: 100%;
  margin: auto;
  padding: px-to-rem(50);

  @media (max-width: 3440px) {
    padding-inline: px-to-rem(200);
  }

  @media (max-width: 2560px) {
    padding-inline: px-to-rem(100);
  }
}

@mixin display-flex($align: flex-start, $justify: flex-start, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin display-grid($align: stretch, $justify: stretch) {
  display: grid;
  align-items: $align;
  justify-items: $justify;
}

@mixin font-settings($font-size: 16, $font-weight: 400, $color: var(--font-primary-color), $font-family: 'FiraCode') {
  font-size: px-to-rem($font-size);
  font-weight: $font-weight;
  color: $color;
  font-family: $font-family;
  @include dynamic-font-size($font-size);
}

@mixin dynamic-font-size($font-size: 16, $vw: 1.5, $min-font-size: 14) {
  @if $font-size < $min-font-size {
    $min-font-size: $font-size;
  }
  font-size: clamp(px-to-rem($min-font-size), #{$vw}vw, px-to-rem($font-size));
}

@mixin golden-ratio-padding($font-size: 16) {
  $vertical: math.div($font-size, 2);
  $horizontal: $vertical * 1.618;
  padding: px-to-rem($vertical) px-to-rem($horizontal);
}

@mixin button-preset($padding-factor: 16) {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

@mixin singleline-ellipsis($max-width: 100%) {
  @if math.unit($max-width) == 'px' {
    $max-width-value: math.div($max-width, 1px);
    max-width: px-to-rem($max-width-value);
  } @else {
    max-width: $max-width;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiline-ellipsis($lines: 4) {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: $lines;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
