@use 'sass:math';
@use './functions' as *;
@use './var' as var;

@mixin max-content-settings {
  max-width: 3440px;
  width: 100%;
  margin: auto;
  padding: px-to-rem(25);

  @media (max-width: 3440px) {
    padding-inline: px-to-rem(200);
  }

  @media (max-width: 2560px) {
    padding-inline: px-to-rem(100);
  }
}

@mixin display-flex($align: stretch, $justify: flex-start, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin display-grid($align: stretch, $justify: stretch) {
  display: grid;
  align-items: $align;
  justify-items: $justify;
}

@mixin font-settings($font-size: 16, $font-weight: 400, $color: var(--font-primary-color), $font-family: 'FiraCode') {
  font-size: px-to-rem($font-size);
  font-weight: $font-weight;
  color: $color;
  font-family: $font-family;
  @include dynamic-font-size($font-size);
}

@mixin dynamic-font-size($font-size: 16, $vw: 1.5, $min-font-size: 14) {
  @if $font-size < $min-font-size {
    $min-font-size: $font-size;
  }
  font-size: clamp(px-to-rem($min-font-size), #{$vw}vw, px-to-rem($font-size));
}

@mixin golden-ratio-padding($font-size: 16) {
  $vertical: math.div($font-size, 2);
  $horizontal: $vertical * 1.618;
  padding: px-to-rem($vertical) px-to-rem($horizontal);
}

@mixin button-preset() {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

@mixin chevron-icon() {
  &:hover {
    .chevron-icon {
      &::ng-deep .chevron {
        fill: var(--font-primary-color-100);
      }
    }
  }

  .chevron-icon {
    @include font-settings(12, 400);
    display: inline-block;
    color: var(--font-primary-color-50);
    align-self: start;

    transition: transform var.$transition-duration-medium ease-in-out;

    &:not(.active) {
      visibility: hidden;
      pointer-events: none;
    }

    &::ng-deep .chevron {
      transition: fill var.$transition-duration-medium ease-in-out;
      width: px-to-rem(10);
      height: px-to-rem(10);
      fill: var(--font-primary-color-50);
    }

    &.open {
      transform: rotateX(180deg);
      &::ng-deep .chevron {
        transition: fill var.$transition-duration-medium ease-in-out;
        fill: var(--font-primary-color-100);
      }
    }
  }
}

@mixin dropdown-values($item-spacing-vertical: px-to-rem(10), $item-spacing-horizontal: px-to-rem(15), $border-radius: px-to-rem(15), $font-size: 14, $orientation: left, $z-index: 10) {
  .values {
    @include display-flex(start, start, column);
    width: 100%;

    color: var(--font-primary-color-100);

    background-color: var(--page-primary-color-100);

    border: 2px solid var(--font-primary-color-50);
    border-top: unset;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    position: absolute;
    top: 100%;

    @if $orientation == left {
      left: 0;
    } @else if $orientation == right {
      right: 0;
    } @else if $orientation == center {
      left: 50%;
      transform: translateX(-50%);
    }

    z-index: $z-index;

    overflow: hidden;

    &:not(.active) {
      pointer-events: none;
      opacity: 0;
    }

    .search-input {
      height: px-to-rem(35);
      padding: px-to-rem(10) px-to-rem(15);
      width: 100%;
    }

    @if $orientation == center {
      @include dropdown-animations($origin: top, $translateX: -50%);
    } @else {
      @include dropdown-animations($origin: top, $translateX: 0%);
    }

    @include value-list-item($item-spacing-vertical, $item-spacing-horizontal, $font-size, $height: unset, $width: 100%);
  }
}

@mixin dropside-values($item-spacing-vertical: px-to-rem(10), $item-spacing-horizontal: px-to-rem(15), $border-radius: px-to-rem(15), $font-size: 14, $orientation: left, $z-index: 10) {
  .values {
    @include display-flex(center, center, row);
    width: max-content;
    height: px-to-rem(50);

    color: var(--font-primary-color-100);

    background-color: var(--page-primary-color-100);

    border: 2px solid var(--font-primary-color-50);
    border-radius: $border-radius;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;

    margin-left: px-to-rem(20);

    position: absolute;
    top: 0;

    @if $orientation == left {
      left: 0;
    } @else if $orientation == right {
      right: 0;
    } @else if $orientation == center {
      left: 50%;
      transform: translateX(-50%);
    }

    z-index: $z-index;

    overflow: hidden;

    &:not(.active) {
      pointer-events: none;
      opacity: 0;
    }

    .search-input {
      height: px-to-rem(35);
      padding: px-to-rem(10) px-to-rem(15);
      width: 100%;
    }

    @if $orientation == center {
      @include dropdown-animations($origin: left, $transform-scale-axis: 'X', $translateX: -50%);
    } @else {
      @include dropdown-animations($origin: left, $transform-scale-axis: 'X', $translateX: 0%);
    }

    @include value-list-item($item-spacing-vertical, $item-spacing-horizontal, $font-size, px-to-rem(50), max-content);
  }
}

@mixin value-list-item($item-spacing-vertical: px-to-rem(10), $item-spacing-horizontal: px-to-rem(15), $font-size: 14, $height: 100%, $width: 100%) {
  .value {
    @include button-preset();
    @include display-flex(center, space-between);
    @include font-settings($font-size, 400);
    gap: px-to-rem(10);
    text-align: left;
    height: $height;
    width: $width;
    color: var(--font-primary-color-100);
    padding-inline: $item-spacing-horizontal;
    padding-block: $item-spacing-vertical;

    &:hover {
      //TODO Fix hover color later use variable
      background-color: #2c2f3a;
    }

    .name {
      color: var(--font-primary-color-100);
      @include singleline-ellipsis();

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .count {
      color: var(--font-primary-color-100);
    }
  }
}

@mixin dropdown-animations($origin: top, $transform-scale-axis: 'Y', $transform-scale: 1, $translateX: 0%) {
  transform-origin: $origin;
  will-change: transform;
  backface-visibility: hidden;

  &.animated-in {
    animation: animated-in var.$transition-duration-medium ease-in-out forwards;
  }

  &.animated-out {
    animation: animated-out var.$transition-duration-medium ease-in-out forwards;
  }

  @keyframes animated-in {
    0% {
      transform: translateX($translateX) scale#{$transform-scale-axis }(0);
      opacity: 0;
    }
    100% {
      transform: translateX($translateX) scale#{$transform-scale-axis }(1);
      opacity: 1;
    }
  }

  @keyframes animated-out {
    0% {
      transform: translateX($translateX) scale#{$transform-scale-axis }(1);
      opacity: 1;
    }
    100% {
      transform: translateX($translateX) scale#{$transform-scale-axis }(0);
      opacity: 0;
    }
  }
}

//TODO Fix color later use variable
@mixin copy-interactions($class: copy, $color: var(--font-primary-color-100), $success-color: green, $error-color: red) {
  &.copied {
    &::ng-deep .#{$class} {
      animation: shake var.$transition-duration-medium ease-in-out;
      fill: $success-color;
    }
  }

  &.copy-failed {
    animation: shake var.$transition-duration-medium ease-in-out;
    &::ng-deep .#{$class} {
      fill: $error-color;
    }
  }

  &:hover:not(.copied):not(.copy-failed) {
    &::ng-deep .#{$class} {
      fill: $color;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@mixin absolute-overlay($bg: rgba(0, 0, 0, 0.2), $blur: 2px, $z-index: 10, $animation-style: none) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bg;
  backdrop-filter: blur($blur);
  border-radius: inherit;
  z-index: $z-index;

  @if $animation-style == fade {
    opacity: 0;

    &.open {
      animation: fade-in var.$transition-duration-slow forwards;
    }

    &.closed {
      animation: fade-out var.$transition-duration-slow forwards;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

@mixin modal-header($font-size: 24, $font-weight: 600) {
  .header {
    @include display-flex(center, space-between);
    gap: px-to-rem(25);

    .title {
      @include font-settings($font-size, $font-weight);

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .icon {
      width: px-to-rem(20);
      height: px-to-rem(20);
      cursor: pointer;

      &:hover {
        &::ng-deep .close {
          fill: var(--font-primary-color-100);
        }
      }

      &::ng-deep .close {
        width: 100%;
        height: 100%;
        fill: var(--font-primary-color-50);
        transition: fill var.$transition-duration-medium ease-in-out;
      }
    }
  }
}

@mixin singleline-ellipsis($max-width: 100%) {
  @if math.unit($max-width) == 'px' {
    $max-width-value: math.div($max-width, 1px);
    max-width: px-to-rem($max-width-value);
  } @else {
    max-width: $max-width;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiline-ellipsis($lines: 4) {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: $lines;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
