@use 'functions' as *;

/* Colors */

$colors: --font-primary-color, --page-primary-color, --background-color;
$opacities: 1, 0.95, 0.9, 0.85, 0.8, 0.75, 0.7, 0.65, 0.6, 0.55, 0.5, 0.45, 0.4, 0.35, 0.3, 0.25, 0.2, 0.15, 0.1, 0.05;

@mixin color-theme() {
  --font-primary-color-rgb: 255, 255, 255; // white #FFFFFF

  --page-primary-color-rgb: 29, 31, 38; // dark gray #1D1F26

  --background-color-rgb: 19, 21, 29; // dark background #13151D

  @each $color in $colors {
    @each $opacity in $opacities {
      #{$color}-#{$opacity * 100}: rgba(var(#{$color}-rgb), #{$opacity});
    }
  }
}

:root {
  @include color-theme();
}

.dark-mode {
  @include color-theme();
}

.light-mode {
  @include color-theme();
}

/* transitions */
$transition-duration-fast: 160ms !default;
$transition-duration-medium: 300ms !default;
$transition-duration-slow: 500ms !default;
$transition-duration-very-slow: 1000ms !default;
$transition-duration-extra-slow: 1500ms !default;
$transition-duration-ultra-slow: 2000ms !default;

/* @media breakpoints */

/** 3440px or smaller */
$breakpoint-ultra: px-to-rem(3440) !default;

/** 2560px or smaller (WQHD) */
$breakpoint-wqhd: px-to-rem(2560) !default;

/** 1920px or smaller */
$breakpoint-full-hd: px-to-rem(1920) !default;

/** 1280px or smaller */
$breakpoint-hd: px-to-rem(1280) !default;

/** 1024px or smaller */
$breakpoint-lg: px-to-rem(1024) !default;

/** 768px or smaller */
$breakpoint-md: px-to-rem(768) !default;

/** 640px or smaller */
$breakpoint-sm: px-to-rem(640) !default;

/** 450px or smaller */
$breakpoint-xs: px-to-rem(450) !default;

/** 384px or smaller */
$breakpoint-xxs: px-to-rem(384) !default;

/** 3440px or smaller */
@media (max-width: $breakpoint-ultra) {
}

/** 2560px or smaller (WQHD) */
@media (max-width: $breakpoint-wqhd) {
}

/** 1920px or smaller */
@media (max-width: $breakpoint-full-hd) {
}

/** 1280px or smaller */
@media (max-width: $breakpoint-hd) {
}

/** 1024px or smaller */
@media (max-width: $breakpoint-lg) {
}

/** 768px or smaller */
@media (max-width: $breakpoint-md) {
}

/** 640px or smaller */
@media (max-width: $breakpoint-sm) {
}

/** 450px or smaller */
@media (max-width: $breakpoint-xs) {
}

/** 384px or smaller */
@media (max-width: $breakpoint-xxs) {
}
