/* You can add global styles to this file, and also import other style files */
@use './functions' as *;
@use './var' as var;
@use './mixins' as *;
@use './fonts';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'FiraCode';
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(60, 60, 60) rgb(28, 28, 28);
}

body {
  background-color: var(--background-color-100);
  color: var(--font-primary-color-100);
}

a {
  color: var(--font-primary-color-100);
  text-decoration: none;
}

svg {
  user-select: none;
}

img {
  user-select: none;
}

.fallbackIcon {
  fill: var(--font-primary-color-100);
  width: px-to-rem(34);
  height: px-to-rem(34);
  margin-right: px-to-rem(10);
}
