@let translatePath = 'SectionPagination' + '.';
@let translatePathAriaLabel = translatePath + 'ariaLabel' + '.';

<ng-template
  #paginationLinkTemplate
  let-link="link"
>
  <a
    class="pagination-link"
    [class]="link.label"
    [routerLink]="isLinkDisabled(link.label) ? null : [link.path]"
    [queryParams]="params(link.label)"
    [queryParamsHandling]="'merge'"
    [class.disabled]="isLinkDisabled(link.label)"
    [attr.aria-label]="translatePathAriaLabel + link.label | translate"
    [attr.aria-disabled]="isLinkDisabled(link.label)"
  >
    <span
      class="icon-container"
      [innerHTML]="svgIconsService.returnIcon(link.icon ?? '', 'icon')"
      aria-hidden="true"
    ></span>
  </a>
</ng-template>

@if (paginationInfo && paginationInfo.last_page > 1) {
  <nav
    class="section-pagination"
    #paginationContainer
  >
    <div class="pagination-controls">
      @for (link of leftNavigationLinks; track $index) {
        <ng-container *ngTemplateOutlet="paginationLinkTemplate; context: { link: link }" />
      }
    </div>

    <div class="page-number-container">
      @for (page of getPages(paginationInfo.current_page, paginationInfo.last_page); track $index) {
        <a
          class="page-number"
          [class]="getDistanceClass(paginationInfo.current_page, page)"
          [class.active]="page === paginationInfo.current_page"
          [routerLink]="['.']"
          [queryParams]="{ page: page }"
          [queryParamsHandling]="'merge'"
          [attr.aria-label]="translatePathAriaLabel + 'page' | translate: { page: page }"
        >
          {{ page }}
        </a>
      }
    </div>

    <div class="pagination-controls">
      @for (link of rightNavigationLinks; track $index) {
        <ng-container *ngTemplateOutlet="paginationLinkTemplate; context: { link: link }" />
      }
    </div>

    <div class="pagination-controls-mobile">
      @for (link of mobileNavigationLinks; track $index) {
        <ng-container *ngTemplateOutlet="paginationLinkTemplate; context: { link: link }" />
      }
    </div>
  </nav>
}
