@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

.section-pagination {
  @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));

  --maxPages: 18;

  @media (max-width: var.$breakpoint-full-hd) {
    --maxPages: 9;
  }

  @media (max-width: var.$breakpoint-md) {
    --maxPages: 5;
  }

  @media (max-width: var.$breakpoint-sm) {
    flex-direction: column;
  }

  .page-number-container {
    @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));
    flex-shrink: 0;
  }

  .pagination-controls {
    @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));
    height: px-to-rem(35);
    flex-shrink: 0;

    @media (max-width: var.$breakpoint-sm) {
      display: none;
    }
  }

  .pagination-controls-mobile {
    display: none;

    @media (max-width: var.$breakpoint-sm) {
      @include display-flex($align: center, $justify: center, $gap: px-to-rem(10));
      height: px-to-rem(35);
      flex-shrink: 0;
    }
  }

  .pagination-link,
  .page-number {
    @include display-flex($align: center, $justify: center);
    @include golden-ratio-padding();
    font-size: px-to-rem(14);
    font-weight: 400;
    color: var(--font-primary-color-50);

    height: 100%;
    flex-shrink: 0;

    background-color: var(--page-primary-color-100);
    border-radius: px-to-rem(5);

    font-variant-numeric: tabular-nums;

    @include box-shadow-on($modifier: ':hover');

    transition:
      box-shadow var.$transition-duration-medium ease-in-out,
      color var.$transition-duration-medium ease-in-out,
      font-size var.$transition-duration-medium ease-in-out;

    .icon-container {
      --status-fill-color: var(--font-primary-color-100);
      height: 100%;
      min-width: 0;

      @include svg-icon($icon-class: 'icon', $height: 100%, $width: 100%, $fill-color: var(--status-fill-color));
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;

      .icon-container {
        --status-fill-color: var(--font-primary-color-50);
      }
    }

    &.active {
      font-size: px-to-rem(22);
      font-weight: 800;
      color: var(--font-primary-color-100);
    }

    &.is-near-1 {
      font-size: px-to-rem(20);
      font-weight: 700;
      color: var(--font-primary-color-50);
    }

    &.is-near-2 {
      font-size: px-to-rem(18);
      font-weight: 600;
      color: var(--font-primary-color-50);
    }

    &.is-near-3 {
      font-size: px-to-rem(16);
      font-weight: 500;
      color: var(--font-primary-color-50);
    }

    &.is-near-4 {
      font-size: px-to-rem(14);
      font-weight: 400;
      color: var(--font-primary-color-50);
    }
  }
}
