@if (paginationInfo && paginationInfo.last_page > 1) {
  <nav
    class="pagination"
    #paginationContainer
  >
    <div class="pagination-controls">
      @for (link of leftNavigationLinks; track $index) {
        <a
          class="pagination-link"
          [class]="link.label"
          [routerLink]="[link.path]"
          [queryParams]="params(link.label)"
          [queryParamsHandling]="'merge'"
          [class.disabled]="isLinkDisabled(link.label)"
        >
          <span
            class="icon-container"
            [innerHTML]="svgIconsService.returnIcon(link.icon ?? '', 'icon')"
          ></span>
        </a>
      }
    </div>

    <div class="page-number-container">
      @for (page of getPages(paginationInfo.current_page, paginationInfo.last_page); track $index) {
        <a
          class="page-number"
          [routerLink]="[]"
          [queryParams]="{ page: page }"
          [queryParamsHandling]="'merge'"
          [class.active]="page === paginationInfo.current_page"
          [class]="getDistanceClass(paginationInfo.current_page, page)"
        >
          {{ page }}
        </a>
      }
    </div>

    <div class="pagination-controls">
      @for (link of rightNavigationLinks; track $index) {
        <a
          class="pagination-link"
          [class]="link.label"
          [routerLink]="[link.path]"
          [queryParams]="params(link.label)"
          [queryParamsHandling]="'merge'"
          [class.disabled]="isLinkDisabled(link.label)"
        >
          <span
            class="icon-container"
            [innerHTML]="svgIconsService.returnIcon(link.icon ?? '', 'icon')"
          ></span>
        </a>
      }
    </div>

    <div class="pagination-controls-mobile">
      @for (link of leftNavigationLinks.concat(rightNavigationLinks); track $index) {
        <a
          class="pagination-link"
          [class]="link.label"
          [routerLink]="[link.path]"
          [queryParams]="params(link.label)"
          [queryParamsHandling]="'merge'"
          [class.disabled]="isLinkDisabled(link.label)"
        >
          <span
            class="icon-container"
            [innerHTML]="svgIconsService.returnIcon(link.icon ?? '', 'icon')"
          ></span>
        </a>
      }
    </div>
  </nav>
}
