<section class="my-area">
  @if (authService.isLoggedIn() && hasAvailableData !== false) {
    @if (searchService.showSearchResults$ | async) {
      <app-tech-block
        [class.active]="searchService.searchActive$ | async"
        [attr.aria-hidden]="!(searchService.searchActive$ | async)"
        [context]="PageContextEnums.MY_AREA"
        [heading]="'Suchergebnisse'"
        [version]="'search-results'"
        [endPoint]="endPoint"
        [params]="languagesTechnologies"
      ></app-tech-block>
    }

    <app-tech-block
      [class.active]="!(searchService.searchActive$ | async)"
      [attr.aria-hidden]="searchService.searchActive$ | async"
      [context]="PageContextEnums.MY_AREA"
      [heading]="'Favoriten'"
      [version]="'favorites'"
      [endPoint]="endPoint"
      [params]="languagesTechnologies"
    ></app-tech-block>

    <app-tech-block
      [class.active]="!(searchService.searchActive$ | async)"
      [attr.aria-hidden]="searchService.searchActive$ | async"
      [context]="PageContextEnums.MY_AREA"
      [heading]="'Sprachen / Frameworks'"
      [version]="'default'"
      [endPoint]="endPoint"
      [params]="languages"
      (hasAvailableData)="handleHasAvailableData($event, 'languages')"
    ></app-tech-block>

    <app-tech-block
      [class.active]="!(searchService.searchActive$ | async)"
      [attr.aria-hidden]="searchService.searchActive$ | async"
      [context]="PageContextEnums.MY_AREA"
      [heading]="'Tools'"
      [version]="'default'"
      [endPoint]="endPoint"
      [params]="technologies"
      (hasAvailableData)="handleHasAvailableData($event, 'technologies')"
    ></app-tech-block>
  } @else if (authService.isLoggedIn() && hasAvailableData === false) {
    <app-action-placeholder
      class="center"
      [title]="'Bereit für den ersten Post?'"
      [message]="['Dein Bereich ist aktuell noch leer.', 'Erstelle deinen ersten Beitrag und werde Teil der Community!']"
      [buttonText]="'Beitrag erstellen'"
      [buttonLink]="'/post-create'"
      [returnIcon]="'my_area_duck'"
    ></app-action-placeholder>
  } @else {
    <app-action-placeholder
      class="center"
      [title]="'Hey, kommst du rein?'"
      [message]="['Melde dich an, mach es dir gemütlich und entdecke deine persönliche Ecke in unserer Community.']"
      [buttonText]="'Anmelden'"
      [buttonLink]="'/login'"
      [returnIcon]="'not_logged_in_duck'"
    ></app-action-placeholder>
  }
</section>
