@use '../../../functions' as *;
@use '../../../var' as var;
@use '../../../mixins' as *;

button {
  @include button-preset();
  @include display-flex($align: center, $justify: center);
  max-height: px-to-rem(34);
  max-width: px-to-rem(34);

  @media (max-width: var.$breakpoint-md) {
    max-height: px-to-rem(24);
    max-width: px-to-rem(24);
  }

  &:not(.active) {
    opacity: 0;
    pointer-events: none;
  }

  .direction-icon-container {
    @include svg-icon(
      $icon-class: 'direction-icon',
      $height: 100%,
      $width: 100%,
      $fill-color: var(--font-primary-color-50),
      $hover-fill-color: var(--font-primary-color-100),
      $active-fill-color: var(--font-primary-color-100)
    );
  }
}
