@use '../../../../../functions' as *;
@use '../../../../../var' as var;
@use '../../../../../mixins' as *;

:host(.absolute-top-right) {
  .post-settings-dropdown {
    .label {
      @include button-preset();
      @include font-settings(16);
      color: var(--font-primary-color-100);

      @include display-flex(center, center, row);
      gap: px-to-rem(10);

      cursor: pointer;

      @include chevron-icon();
    }

    @include dropdown-values($orientation: right);

    @include value-list-item($item-spacing-vertical: px-to-rem(10), $item-spacing-horizontal: px-to-rem(35), $height: unset, $width: 100%);

    .values {
      border-top: 2px solid var(--font-primary-color-50);
      width: max-content;
    }

    @include divider();
  }
}
